### Set Up Notebook

#### Import Required Modules

In [0]:
import os
import json

from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.window import Window

#### Get or Create SparkSession

In [0]:
spark = SparkSession.builder.getOrCreate()
spark.sparkContext.setLogLevel("error")
spark

#### Set Workflow Constants

In [0]:
RAW_PATH = "dbfs:/FileStore/data/raw"
CLN_PATH = "dbfs:/FileStore/data/clean"

In [0]:
MIN_RELEASE_DATE = '1970-01-01'
MIN_POPULARITY = 5.0

### Import and Clean Raw Data

#### Movie Metadata

In [0]:
metadata_raw = spark.read.csv(os.path.join(RAW_PATH, "movies_metadata.csv"), header=True)
metadata_raw.show(1, truncate=False, vertical=True)
metadata_raw.printSchema()

-RECORD 0--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 adult                 | False
 belongs_to_collection | {'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
 budget                | 30000000
 genres                | [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
 homepage              | http://toystory.disney.com/toy-story
 id                    | 862
 imdb_id               | tt0114709
 original_language     | en
 original_title        | Toy Story
 overview              | Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
 popularity            | 21.946943
 poster_path           | /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
 production_companies  | [{'name': 'Pixar Animation Studios', 'id': 3}]
 production_countries  | [{'iso_3166_1': 'US', 'name': 'United States of America'}]
 release_date          | 1995-10-30
 revenue               | 373554033
 runtime               | 81.0
 spoken_languages      | [{'iso_639_1': 'en', 'name': 'English'}]
 status                | Released
 tagline               | null
 title                 | Toy Story
 video                 | False
 vote_average          | 7.7
 vote_count            | 5415
only showing top 1 row

root
 |-- adult: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: string (nullable = true)
 |-- vote_average: string (nullable = true)
 |-- vote_count: string (nullable = true)

In [0]:
metadata = metadata_raw \
    .select(
        f.col('adult').cast('BOOLEAN').alias('adult'),
        f.col('budget').cast('INTEGER').alias('budget'),
        f.transform(f.from_json('genres', "ARRAY<STRUCT<id:INTEGER,name:STRING>>"), lambda x: x['name']).alias('genres'),
        f.col('id').cast('STRING').alias('tmdb_id'),
        f.col('overview'),
        f.col('popularity').cast('DOUBLE').alias('popularity'),
        f.col('release_date').cast('DATE').alias('release_date'),
        f.col('revenue').cast('INTEGER').alias('revenue'),
        f.col('runtime').cast('DOUBLE').alias('runtime'),
        f.transform(f.from_json('spoken_languages', "ARRAY<STRUCT<iso_639_1:STRING,name:STRING>>"), lambda x: x['name']).alias('spoken_languages'),
        f.col('status'),
        f.col('title'),
        f.col('vote_average').cast('DOUBLE').alias('vote_average'),
        f.col('vote_count').cast('INTEGER').alias('vote_count')
    ) \
    .withColumn('budget', f.when(f.col('budget') == 0, f.lit(None)).otherwise(f.col('budget'))) \
    .withColumn('revenue', f.when(f.col('revenue') == 0, f.lit(None)).otherwise(f.col('revenue'))) \
    .withColumn('id_rank', f.row_number().over(Window.partitionBy('tmdb_id').orderBy(f.rand(seed=1492)))) \
    .filter(f.col('id_rank') == 1) \
    .filter(f.col('status') == 'Released') \
    .filter(f.col('adult') == False) \
    .filter(f.array_contains('spoken_languages', 'English') == True) \
    .filter(f.col('release_date') >= MIN_RELEASE_DATE) \
    .filter(f.col('popularity') >= MIN_POPULARITY) \
    .select('tmdb_id', 'title', 'release_date', 'runtime', 'genres', 'overview', 'budget', 'revenue', 'popularity', 'vote_average', 'vote_count') \
    .sort('tmdb_id')

metadata.printSchema()
metadata.show(1, truncate=False, vertical=True)
metadata.agg(f.countDistinct('tmdb_id').alias('tmdb_id'), f.count('*').alias('records')).show()

root
 |-- tmdb_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- release_date: date (nullable = true)
 |-- runtime: double (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- overview: string (nullable = true)
 |-- budget: integer (nullable = true)
 |-- revenue: integer (nullable = true)
 |-- popularity: double (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: integer (nullable = true)

-RECORD 0----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 tmdb_id      | 10003
 title        | The Saint
 release_date | 1997-04-03
 runtime      | 116.0
 genres       | [Thriller, Action, Romance, Science Fiction, Adventure]
 overview     | Ivan Tretiak, Russian Mafia boss who wants to create an oil crisis in Moscow and seize power as a result sends Simon Templar, great international criminal, to England to get a secret formula for cold fusion from U.S. scientist Emma Russell. Templar falls in love with Emma and they try to outwit Tretiak and his guerrillas, hiding from them in Moscow
 budget       | 68000000
 revenue      | 118063304
 popularity   | 10.97633
 vote_average | 5.9
 vote_count   | 310
only showing top 1 row

+-------+-------+
|tmdb_id|records|
+-------+-------+
|   6918|   6918|
+-------+-------+

#### Movie Keywords

In [0]:
keywords_raw = spark.read.csv(os.path.join(RAW_PATH, "keywords.csv"), header=True)
keywords_raw.show(1, truncate=False, vertical=True)

-RECORD 0------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 id       | 862
 keywords | [{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]
only showing top 1 row

In [0]:
keywords = keywords_raw \
    .select(
        f.col('id').cast('STRING').alias('tmdb_id'),
        f.transform(f.from_json('keywords', 'ARRAY<STRUCT<id:INTEGER,name:STRING>>'), lambda x: x['name']).alias('keywords')
    ) \
    .withColumn('id_rank', f.row_number().over(Window.partitionBy('tmdb_id').orderBy(f.rand(seed=1492)))) \
    .filter(f.col('id_rank') == 1) \
    .select('tmdb_id', 'keywords') \
    .sort('tmdb_id')

keywords.printSchema()
keywords.show(1, truncate=False, vertical=True)
keywords.agg(f.countDistinct('tmdb_id').alias('tmdb_id'), f.count('*').alias('records')).show()

root
 |-- tmdb_id: string (nullable = true)
 |-- keywords: array (nullable = true)
 |    |-- element: string (containsNull = true)

-RECORD 0---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 tmdb_id  | 100
 keywords | [ambush, alcohol, shotgun, tea, joint, machismo, cocktail, rifle, marijuana, cockney accent, pot smoking, hatchet, antique, cardsharp, anger, carjacking, piano, strip show, high stakes]
only showing top 1 row

+-------+-------+
|tmdb_id|records|
+-------+-------+
|  45432|  45432|
+-------+-------+

#### Movie ID Crosswalk

In [0]:
links_path = "dbfs:/FileStore/data/raw/links.csv"
links = spark \
    .read.csv(os.path.join(RAW_PATH, "links.csv"), header=True) \
    .withColumnRenamed('movieId', 'movie_id') \
    .withColumnRenamed('imdbId', 'imdb_id') \
    .withColumnRenamed('tmdbId', 'tmdb_id')

links.printSchema()
links.show(5, truncate=False)
links.agg(f.countDistinct('tmdb_id').alias('tmdb_id'), f.countDistinct('movie_id').alias('movie_id'), f.count('*').alias('records')).show()

root
 |-- movie_id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- tmdb_id: string (nullable = true)

+--------+-------+-------+
|movie_id|imdb_id|tmdb_id|
+--------+-------+-------+
|1       |0114709|862    |
|2       |0113497|8844   |
|3       |0113228|15602  |
|4       |0114885|31357  |
|5       |0113041|11862  |
+--------+-------+-------+
only showing top 5 rows

+-------+--------+-------+
|tmdb_id|movie_id|records|
+-------+--------+-------+
|  45594|   45843|  45843|
+-------+--------+-------+

#### Movie Ratings

In [0]:
ratings_raw = spark.read.csv(os.path.join(RAW_PATH, "ratings.csv"), header=True)
ratings_raw.show(5, truncate=False)

+------+-------+------+----------+
|userId|movieId|rating|timestamp |
+------+-------+------+----------+
|1     |110    |1.0   |1425941529|
|1     |147    |4.5   |1425942435|
|1     |858    |5.0   |1425941523|
|1     |1221   |5.0   |1425941546|
|1     |1246   |5.0   |1425941556|
+------+-------+------+----------+
only showing top 5 rows

In [0]:
ratings = ratings_raw \
    .select(
        f.col('userId').alias('user_id'),
        f.col('movieId').alias('movie_id'),
        f.col('rating').cast('DOUBLE').alias('rating'),
        f.from_unixtime('timestamp').alias('timestamp')
    )

ratings.printSchema()
ratings.show(5, truncate=False)
ratings.agg(f.countDistinct('user_id').alias('total_users'), f.countDistinct('movie_id').alias('total_movies'), f.count('*').alias('total_ratings')).show()

root
 |-- user_id: string (nullable = true)
 |-- movie_id: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: string (nullable = true)

+-------+--------+------+-------------------+
|user_id|movie_id|rating|timestamp          |
+-------+--------+------+-------------------+
|1      |110     |1.0   |2015-03-09 22:52:09|
|1      |147     |4.5   |2015-03-09 23:07:15|
|1      |858     |5.0   |2015-03-09 22:52:03|
|1      |1221    |5.0   |2015-03-09 22:52:26|
|1      |1246    |5.0   |2015-03-09 22:52:36|
+-------+--------+------+-------------------+
only showing top 5 rows

+-----------+------------+-------------+
|total_users|total_movies|total_ratings|
+-----------+------------+-------------+
|     270896|       45115|     26024289|
+-----------+------------+-------------+

### Save Clean Data Entities

#### Clean Ratings Data

In [0]:
ratings = ratings.join(links, on="movie_id", how="inner").select('user_id', 'tmdb_id', 'rating', 'timestamp')
ratings.printSchema()
ratings.show(5)
ratings.count()

root
 |-- user_id: string (nullable = true)
 |-- tmdb_id: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: string (nullable = true)

+-------+-------+------+-------------------+
|user_id|tmdb_id|rating|          timestamp|
+-------+-------+------+-------------------+
|      1|    197|   1.0|2015-03-09 22:52:09|
|      1|  10474|   4.5|2015-03-09 23:07:15|
|      1|    238|   5.0|2015-03-09 22:52:03|
|      1|    240|   5.0|2015-03-09 22:52:26|
|      1|    207|   5.0|2015-03-09 22:52:36|
+-------+-------+------+-------------------+
only showing top 5 rows

Out[20]: 26024289

In [0]:
ratings.repartition(10).write.parquet(os.path.join(CLN_PATH, "ratings"), mode="overwrite")

#### Clean Movies Data

In [0]:
movies = metadata.join(keywords, on='tmdb_id', how='inner')
movies.show(10)
movies.printSchema()
movies.agg(f.countDistinct('tmdb_id').alias('tmdb_id'), f.count('*').alias('records')).show()
movies.agg(*[f.sum(f.col(col).isNull().cast('int')).alias(col) for col in movies.columns]).show()

+-------+--------------------+------------+-------+--------------------+--------------------+---------+---------+----------+------------+----------+--------------------+
|tmdb_id|               title|release_date|runtime|              genres|            overview|   budget|  revenue|popularity|vote_average|vote_count|            keywords|
+-------+--------------------+------------+-------+--------------------+--------------------+---------+---------+----------+------------+----------+--------------------+
|  10010|      Brother Bear 2|  2006-08-17|   73.0|[Adventure, Anima...|Kenai finds his c...|     null|     null| 10.861154|         6.3|       318|[grizzly bear, hu...|
|  10012|              Cursed|  2005-02-25|   97.0|    [Horror, Comedy]|A werewolf loose ...| 35000000| 19294901|  8.949722|         5.1|       168|[brother sister r...|
| 100402|Captain America: ...|  2014-03-20|  136.0|[Action, Adventur...|After the catacly...|170000000|714766572| 18.717704|         7.6|      5881|[washington d.c.,...|
|  10068|      Nine 1/2 Weeks|  1986-02-14|  117.0|    [Drama, Romance]|An erotic story a...| 17000000|  6735922|  6.706262|         5.8|       183|                null|
|  10096|      13 Going on 30|  2004-04-13|   98.0|[Comedy, Fantasy,...|After total humil...| 37000000| 96455697| 12.632595|         6.3|      1260|[new york, photog...|
|  10110|   Empire of the Sun|  1987-12-09|  153.0|[Drama, History, ...|Jamie Graham, a p...| 35000000| 22238696| 10.220906|         7.3|       491|[japan, stadium, ...|
| 101325|          The Forger|  2011-03-09|   96.0|             [Drama]|While staying at ...|     null|     null|  7.854465|         6.0|        40|[california, pain...|
|  10133|              Cypher|  2002-10-01|   95.0|[Thriller, Scienc...|An unsuspecting, ...|  7500000|     null|  7.348974|         6.7|       196|[double life, und...|
|  10138|          Iron Man 2|  2010-04-28|  124.0|[Adventure, Actio...|With the world no...|200000000|623933331| 19.083344|         6.6|      6969|[malibu, marvel c...|
|  10145|       The Forgotten|  2004-09-24|   91.0|[Crime, Drama, Ho...|Telly Paretta is ...| 42000000|117575636|   6.40146|         5.5|       359|[loss of son, mot...|
+-------+--------------------+------------+-------+--------------------+--------------------+---------+---------+----------+------------+----------+--------------------+
only showing top 10 rows

root
 |-- tmdb_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- release_date: date (nullable = true)
 |-- runtime: double (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- overview: string (nullable = true)
 |-- budget: integer (nullable = true)
 |-- revenue: integer (nullable = true)
 |-- popularity: double (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: integer (nullable = true)
 |-- keywords: array (nullable = true)
 |    |-- element: string (containsNull = true)

+-------+-------+
|tmdb_id|records|
+-------+-------+
|   6918|   6918|
+-------+-------+

+-------+-----+------------+-------+------+--------+------+-------+----------+------------+----------+--------+
|tmdb_id|title|release_date|runtime|genres|overview|budget|revenue|popularity|vote_average|vote_count|keywords|
+-------+-----+------------+-------+------+--------+------+-------+----------+------------+----------+--------+
|      0|    0|           0|      0|     0|       0|  2666|   2666|         0|           4|         2|     244|
+-------+-----+------------+-------+------+--------+------+-------+----------+------------+----------+--------+

In [0]:
movies.coalesce(1).write.parquet(os.path.join(CLN_PATH, "movies"), mode="overwrite")