### Set Up Notebook

#### Import Required Modules

In [0]:
import os
import time
import json
import requests
from typing import List, Dict

from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.window import Window

#### Get or Create SparkSession

In [0]:
spark = SparkSession.builder.getOrCreate()
spark.sparkContext.setLogLevel("error")
spark

#### Set Workflow Constants

In [0]:
RAW_PATH = "dbfs:/FileStore/data/raw/ml-latest-small"
CLEAN_PATH = "dbfs:/FileStore/data/clean"

In [0]:
MIN_USER_RATINGS = 10
MIN_MOVIE_RATINGS = 10
MAX_CAST_MEMBERS = 5

### Import and Clean Ratings Data

#### Import Ratings Data

In [0]:
ratings = spark \
    .read.csv(os.path.join(RAW_PATH, "ratings.csv"), header=True) \
    .select(
        f.col('userId').cast('string').alias('user_id'),
        f.col('movieId').cast('string').alias('movie_id'),
        f.col('rating').cast('double').alias('rating'),
        f.from_unixtime('timestamp').alias('timestamp')
    )

ratings.printSchema()
ratings.show(5, truncate=False)
ratings.agg(
    f.countDistinct('user_id').alias('users'), 
    f.countDistinct('movie_id').alias('movies'), 
    f.count('*').alias('ratings'),
    f.min('timestamp').alias('min_time'),
    f.max('timestamp').alias('max_time')
).show()

root
 |-- user_id: string (nullable = true)
 |-- movie_id: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: string (nullable = true)

+-------+--------+------+-------------------+
|user_id|movie_id|rating|timestamp          |
+-------+--------+------+-------------------+
|1      |1       |4.0   |2000-07-30 18:45:03|
|1      |3       |4.0   |2000-07-30 18:20:47|
|1      |6       |4.0   |2000-07-30 18:37:04|
|1      |47      |5.0   |2000-07-30 19:03:35|
|1      |50      |5.0   |2000-07-30 18:48:51|
+-------+--------+------+-------------------+
only showing top 5 rows

+-----+------+-------+-------------------+-------------------+
|users|movies|ratings|           min_time|           max_time|
+-----+------+-------+-------------------+-------------------+
|  610|  9724| 100836|1996-03-29 18:36:55|2018-09-24 14:27:30|
+-----+------+-------+-------------------+-------------------+

#### Import the Links Data

In [0]:
links = spark \
    .read.csv(os.path.join(RAW_PATH, "links.csv"), header=True) \
    .select(
        f.col('movieId').cast('string').alias('movie_id'),
        f.col('imdbId').cast('string').alias('imdb_id'),
        f.col('tmdbId').cast('string').alias('tmdb_id')
    )

links.printSchema()
links.show(5, truncate=False)
links.agg(f.countDistinct('tmdb_id').alias('tmdb_id'), f.countDistinct('movie_id').alias('movie_id'), f.count('*').alias('records')).show()

root
 |-- movie_id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- tmdb_id: string (nullable = true)

+--------+-------+-------+
|movie_id|imdb_id|tmdb_id|
+--------+-------+-------+
|1       |0114709|862    |
|2       |0113497|8844   |
|3       |0113228|15602  |
|4       |0114885|31357  |
|5       |0113041|11862  |
+--------+-------+-------+
only showing top 5 rows

+-------+--------+-------+
|tmdb_id|movie_id|records|
+-------+--------+-------+
|   9733|    9742|   9742|
+-------+--------+-------+

#### Clean the Ratings Data and Save as Parquet

In [0]:
clean_ratings = ratings \
    .join(links, on="movie_id", how="inner") \
    .dropna(how="any", subset=["user_id", "tmdb_id", "rating", "timestamp"]) \
    .withColumn("rank", f.row_number().over(Window.partitionBy("user_id", "tmdb_id").orderBy(f.desc("timestamp")))) \
    .filter(f.col("rank") == 1) \
    .withColumn("cnt_user_ratings", f.count("*").over(Window.partitionBy("user_id"))) \
    .withColumn("cnt_movie_ratings", f.count("*").over(Window.partitionBy("tmdb_id"))) \
    .filter(f.col("cnt_user_ratings") >= MIN_USER_RATINGS) \
    .filter(f.col("cnt_movie_ratings") >= MIN_MOVIE_RATINGS) \
    .select("user_id", "tmdb_id", "rating", "timestamp")

counts = clean_ratings.agg(f.countDistinct('user_id').alias('users'), f.countDistinct('tmdb_id').alias('movies'), f.count('*').alias('ratings')).first()
sparsity = round(1 - (counts['ratings'] / (counts['users'] * counts['movies'])), 4)
print(f"users={counts['users']} movies={counts['movies']} ratings={counts['ratings']} sparsity={sparsity}")

clean_ratings.agg(f.countDistinct("user_id", "tmdb_id").alias("ratings"), f.count("*").alias("records")).show()
clean_ratings.printSchema()
clean_ratings.show(5)

users=610 movies=2269 ratings=81116 sparsity=0.9414
+-------+-------+
|ratings|records|
+-------+-------+
|  81116|  81116|
+-------+-------+

root
 |-- user_id: string (nullable = true)
 |-- tmdb_id: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: string (nullable = true)

+-------+-------+------+-------------------+
|user_id|tmdb_id|rating|          timestamp|
+-------+-------+------+-------------------+
|    140|    100|   4.0|2003-06-08 17:14:57|
|    166|    100|   3.5|2007-09-06 00:24:53|
|     18|    100|   4.5|2016-02-27 14:48:19|
|    187|    100|   1.0|2006-10-26 07:52:18|
|    199|    100|   3.0|2001-07-15 02:47:22|
+-------+-------+------+-------------------+
only showing top 5 rows

In [0]:
clean_ratings.repartition(10).write.parquet(os.path.join(CLEAN_PATH, "ratings"), mode="overwrite")

### Gather Movie Information for All Movies in Clean Ratings Data

#### Determine the Set of Movies to Fetch

In [0]:
ratings_movies = sorted([int(row["tmdb_id"]) for row in clean_ratings.select("tmdb_id").distinct().collect()])
len(ratings_movies)

Out[9]: 2269

#### Define a Function to Get All Movie Details

In [0]:
def get_movies(tmdb_ids: List[int], max_rps=20) -> List[Dict]:
    """get movie information from the TMDB API"""

    # define needed TMDB endpoints
    details_endpoint = "https://api.themoviedb.org/3/movie/{tmdb_id}"
    credits_endpoint = "https://api.themoviedb.org/3/movie/{tmdb_id}/credits"
    keywords_endpoint = "https://api.themoviedb.org/3/movie/{tmdb_id}/keywords"

    # define common request headers
    headers = {
        "accept": "application/json",
        "Authorization": f"Bearer {os.environ['TMDB_ACCESS_TOKEN']}"
    }

    # create a Session object to set common parameters and handle connection pooling
    session = requests.Session()
    session.headers.update(headers)

    movies = [None] * len(tmdb_ids)
    for i, tmdb_id in enumerate(tmdb_ids):

        try:

            # get movie details
            response = session.get(details_endpoint.format(tmdb_id=tmdb_id))
            response.raise_for_status()
            response_body = response.json()
            movie_details = {
                "tmdb_id": str(tmdb_id),
                "tmdb_homepage": f"https://www.themoviedb.org/movie/{tmdb_id}",
                "title": response_body["title"],
                "status": response_body["status"],
                "language": response_body["original_language"],
                "release_date": response_body["release_date"],
                "runtime": response_body["runtime"],
                "overview": response_body["overview"],
                "genres": [genre["name"] for genre in response_body["genres"]],
                "budget": response_body["budget"],
                "revenue": response_body["revenue"],
                "popularity": response_body["popularity"],
                "vote_average": response_body["vote_average"],
                "vote_count": response_body["vote_count"]
            }

            # get movie credits
            response = session.get(credits_endpoint.format(tmdb_id=tmdb_id))
            response.raise_for_status()
            response_body = response.json()
            director = [item for item in response_body["crew"] if item["job"] == "Director"]
            top_cast = sorted(response_body["cast"], key=lambda x: x["order"])[:MAX_CAST_MEMBERS]
            movie_credits = {
                "director": director[0]["name"] if len(director) >= 1 else "",
                "cast": [actor["name"] for actor in top_cast]
            }

            # get movie keywords
            response = session.get(keywords_endpoint.format(tmdb_id=tmdb_id))
            response.raise_for_status()
            response_body = response.json()
            movie_keywords = {
                "keywords": [item["name"] for item in response_body["keywords"]]
            }

            # combine all movie information together and add to running list
            movies[i] = {**movie_details, **movie_credits, **movie_keywords}

        # log any movie-specific HTTP errors and continue processing
        except requests.HTTPError as err:
            print(f"error for tmdb_id={tmdb_id}")
            print(err)

        # add a delay to avoid rate limiting
        if (i > 0) and i % max_rps == 0:
            print(f"current iteration={i} current tmdb_id={tmdb_id}")
            time.sleep(0.5)

    # remove the None entries for movies with API errors and return
    movies = [movie for movie in movies if movie is not None]
    return movies

#### Get All Movie Details

In [0]:
movies = get_movies(tmdb_ids=ratings_movies)
len(movies)

current iteration=20 current tmdb_id=63
current iteration=40 current tmdb_id=88
current iteration=60 current tmdb_id=114
current iteration=80 current tmdb_id=150
current iteration=100 current tmdb_id=177
current iteration=120 current tmdb_id=215
current iteration=140 current tmdb_id=252
current iteration=160 current tmdb_id=293
current iteration=180 current tmdb_id=334
current iteration=200 current tmdb_id=395
current iteration=220 current tmdb_id=429
current iteration=240 current tmdb_id=497
current iteration=260 current tmdb_id=548
current iteration=280 current tmdb_id=581
current iteration=300 current tmdb_id=603
current iteration=320 current tmdb_id=628
current iteration=340 current tmdb_id=657
current iteration=360 current tmdb_id=688
current iteration=380 current tmdb_id=714
current iteration=400 current tmdb_id=773
current iteration=420 current tmdb_id=814
current iteration=440 current tmdb_id=850
current iteration=460 current tmdb_id=879
current iteration=480 current tmdb_id=924
current iteration=500 current tmdb_id=955
current iteration=520 current tmdb_id=1073
current iteration=540 current tmdb_id=1281
current iteration=560 current tmdb_id=1417
current iteration=580 current tmdb_id=1542
current iteration=600 current tmdb_id=1587
current iteration=620 current tmdb_id=1645
current iteration=640 current tmdb_id=1724
current iteration=660 current tmdb_id=1850
current iteration=680 current tmdb_id=1907
current iteration=700 current tmdb_id=1985
current iteration=720 current tmdb_id=2046
current iteration=740 current tmdb_id=2114
current iteration=760 current tmdb_id=2288
current iteration=780 current tmdb_id=2503
current iteration=800 current tmdb_id=2667
current iteration=820 current tmdb_id=2898
current iteration=840 current tmdb_id=3085
current iteration=860 current tmdb_id=3600
current iteration=880 current tmdb_id=4256
current iteration=900 current tmdb_id=4547
current iteration=920 current tmdb_id=4954
current iteration=940 current tmdb_id=5528
current iteration=960 current tmdb_id=6068
current iteration=980 current tmdb_id=6557
current iteration=1000 current tmdb_id=7300
current iteration=1020 current tmdb_id=7553
current iteration=1040 current tmdb_id=8197
current iteration=1060 current tmdb_id=8393
current iteration=1080 current tmdb_id=8698
current iteration=1100 current tmdb_id=8856
current iteration=1120 current tmdb_id=8989
current iteration=1140 current tmdb_id=9090
current iteration=1160 current tmdb_id=9283
current iteration=1180 current tmdb_id=9327
current iteration=1200 current tmdb_id=9359
current iteration=1220 current tmdb_id=9398
current iteration=1240 current tmdb_id=9443
current iteration=1260 current tmdb_id=9481
current iteration=1280 current tmdb_id=9536
current iteration=1300 current tmdb_id=9606
current iteration=1320 current tmdb_id=9671
current iteration=1340 current tmdb_id=9778
current iteration=1360 current tmdb_id=9870
current iteration=1380 current tmdb_id=9946
current iteration=1400 current tmdb_id=10122
current iteration=1420 current tmdb_id=10184
current iteration=1440 current tmdb_id=10280
current iteration=1460 current tmdb_id=10388
current iteration=1480 current tmdb_id=10451
current iteration=1500 current tmdb_id=10535
current iteration=1520 current tmdb_id=10625
current iteration=1540 current tmdb_id=10705
current iteration=1560 current tmdb_id=10806
current iteration=1580 current tmdb_id=10948
current iteration=1600 current tmdb_id=11040
current iteration=1620 current tmdb_id=11176
current iteration=1640 current tmdb_id=11314
current iteration=1660 current tmdb_id=11381
current iteration=1680 current tmdb_id=11478
current iteration=1700 current tmdb_id=11562
current iteration=1720 current tmdb_id=11663
current iteration=1740 current tmdb_id=11812
current iteration=1760 current tmdb_id=11878
current iteration=1780 current tmdb_id=11979
current iteration=1800 current tmdb_id=12155
current iteration=1820 current tmdb_id=12498
current iteration=1840 current tmdb_id=13203
current iteration=1860 current tmdb_id=13776
current iteration=1880 current tmdb_id=14292
error for tmdb_id=14301
404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/14301
current iteration=1900 current tmdb_id=14919
current iteration=1920 current tmdb_id=16300
current iteration=1940 current tmdb_id=17578
current iteration=1960 current tmdb_id=19101
current iteration=1980 current tmdb_id=21991
current iteration=2000 current tmdb_id=25059
current iteration=2020 current tmdb_id=35056
current iteration=2040 current tmdb_id=37165
current iteration=2060 current tmdb_id=40807
current iteration=2080 current tmdb_id=49047
current iteration=2100 current tmdb_id=55721
current iteration=2120 current tmdb_id=65754
current iteration=2140 current tmdb_id=76492
current iteration=2160 current tmdb_id=99861
current iteration=2180 current tmdb_id=122906
current iteration=2200 current tmdb_id=177677
error for tmdb_id=202249
404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/202249
error for tmdb_id=206216
404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/206216
current iteration=2220 current tmdb_id=227159
error for tmdb_id=253768
404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/253768
current iteration=2240 current tmdb_id=273248
current iteration=2260 current tmdb_id=333371
error for tmdb_id=370646
404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/370646
Out[13]: 2264

#### Convert Movie Details to a Spark DataFrame

In [0]:
clean_movies = spark.createDataFrame(movies)
clean_movies.printSchema()
clean_movies.show(1, truncate=False, vertical=True)
clean_movies.count()

root
 |-- budget: long (nullable = true)
 |-- cast: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- director: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- keywords: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- language: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: long (nullable = true)
 |-- runtime: long (nullable = true)
 |-- status: string (nullable = true)
 |-- title: string (nullable = true)
 |-- tmdb_homepage: string (nullable = true)
 |-- tmdb_id: string (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: long (nullable = true)

-RECORD 0------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 budget        | 4000000
 cast          | [Tim Roth, Jennifer Beals, Antonio Banderas, Valeria Golino, David Proval]
 director      | Allison Anders
 genres        | [Comedy]
 keywords      | [hotel, new year's eve, witch, bet, hotel room, sperm, anthology, los angeles, california, hoodlum, multiple storylines, woman director]
 language      | en
 overview      | It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.
 popularity    | 21.138
 release_date  | 1995-12-09
 revenue       | 4257354
 runtime       | 98
 status        | Released
 title         | Four Rooms
 tmdb_homepage | https://www.themoviedb.org/movie/5
 tmdb_id       | 5
 vote_average  | 5.789
 vote_count    | 2443
only showing top 1 row

Out[14]: 2264

#### Basic EDA on the Clean Movies Dataset

In [0]:
clean_movies.groupby("status").count().sort(f.desc("count")).show()
clean_movies.groupby("language").count().sort(f.desc("count")).show(10)
clean_movies.groupby(f.year("release_date")).count().sort(f.year("release_date")).show(100)

clean_movies.groupby(f.col("budget") == 0).count().show()
clean_movies.groupby(f.col("revenue") == 0).count().show()
clean_movies.groupby(f.col("runtime") == 0).count().show()

clean_movies.groupby(f.col("director") == "").count().show()
clean_movies.groupby(f.col("vote_average").isNull()).count().show()
clean_movies.groupby(f.col("vote_count").isNull()).count().show()

clean_movies.agg(f.mean(f.length("overview")).alias("avg_overview_length")).show()
clean_movies.groupby(f.size("cast")).count().sort(f.desc('count')).show()
clean_movies.groupby(f.size("genres")).count().sort(f.desc('count')).show()
clean_movies.groupby(f.size("keywords")).count().sort(f.desc('count')).show()

+--------+-----+
|  status|count|
+--------+-----+
|Released| 2264|
+--------+-----+

+--------+-----+
|language|count|
+--------+-----+
|      en| 2156|
|      ja|   25|
|      fr|   24|
|      es|   12|
|      de|   10|
|      cn|    9|
|      it|    9|
|      zh|    4|
|      ko|    3|
|      sv|    3|
+--------+-----+
only showing top 10 rows

+------------------+-----+
|year(release_date)|count|
+------------------+-----+
|              1922|    1|
|              1925|    1|
|              1927|    1|
|              1930|    1|
|              1931|    4|
|              1933|    2|
|              1934|    1|
|              1935|    1|
|              1936|    1|
|              1937|    1|
|              1938|    1|
|              1939|    3|
|              1940|    6|
|              1941|    3|
|              1942|    1|
|              1943|    1|
|              1944|    3|
|              1946|    3|
|              1947|    1|
|              1948|    4|
|              1949|    1|
|              1950|    6|
|              1951|    5|
|              1952|    3|
|              1953|    4|
|              1954|    6|
|              1955|    4|
|              1956|    4|
|              1957|    4|
|              1958|    4|
|              1959|    5|
|              1960|    6|
|              1961|    7|
|              1962|    6|
|              1963|   10|
|              1964|    6|
|              1965|    4|
|              1966|    3|
|              1967|   10|
|              1968|   11|
|              1969|    7|
|              1970|    6|
|              1971|   10|
|              1972|    7|
|              1973|   13|
|              1974|    8|
|              1975|   10|
|              1976|   10|
|              1977|    9|
|              1978|   12|
|              1979|   15|
|              1980|   15|
|              1981|   21|
|              1982|   26|
|              1983|   21|
|              1984|   33|
|              1985|   32|
|              1986|   38|
|              1987|   34|
|              1988|   38|
|              1989|   42|
|              1990|   35|
|              1991|   35|
|              1992|   55|
|              1993|   73|
|              1994|   85|
|              1995|  115|
|              1996|  107|
|              1997|   78|
|              1998|   86|
|              1999|   90|
|              2000|   93|
|              2001|   88|
|              2002|   78|
|              2003|   77|
|              2004|   82|
|              2005|   60|
|              2006|   64|
|              2007|   64|
|              2008|   57|
|              2009|   41|
|              2010|   41|
|              2011|   45|
|              2012|   34|
|              2013|   36|
|              2014|   36|
|              2015|   23|
|              2016|   18|
|              2017|    9|
|              2018|    3|
+------------------+-----+

+------------+-----+
|(budget = 0)|count|
+------------+-----+
|        true|  184|
|       false| 2080|
+------------+-----+

+-------------+-----+
|(revenue = 0)|count|
+-------------+-----+
|         true|  136|
|        false| 2128|
+-------------+-----+

+-------------+-----+
|(runtime = 0)|count|
+-------------+-----+
|        false| 2264|
+-------------+-----+

+-------------+-----+
|(director = )|count|
+-------------+-----+
|        false| 2264|
+-------------+-----+

+----------------------+-----+
|(vote_average IS NULL)|count|
+----------------------+-----+
|                 false| 2264|
+----------------------+-----+

+--------------------+-----+
|(vote_count IS NULL)|count|
+--------------------+-----+
|               false| 2264|
+--------------------+-----+

+-------------------+
|avg_overview_length|
+-------------------+
|  287.0278268551237|
+-------------------+

+----------+-----+
|size(cast)|count|
+----------+-----+
|         5| 2253|
|         1|    4|
|         4|    3|
|         0|    2|
|         3|    1|
|         2|    1|
+----------+-----+

+------------+-----+
|size(genres)|count|
+------------+-----+
|           3|  902|
|           2|  668|
|           4|  318|
|           1|  278|
|           5|   84|
|           6|   13|
|           7|    1|
+------------+-----+

+--------------+-----+
|size(keywords)|count|
+--------------+-----+
|             9|  151|
|            13|  147|
|             8|  147|
|            11|  144|
|            10|  141|
|            12|  137|
|            14|  129|
|             6|  116|
|            15|  113|
|             7|  108|
|            16|   98|
|            17|   92|
|             5|   88|
|            18|   79|
|             4|   76|
|            20|   75|
|            19|   73|
|            21|   57|
|            22|   51|
|             3|   46|
+--------------+-----+
only showing top 20 rows

In [0]:
clean_movies.drop('status', 'release_date', 'overview', 'tmdb_homepage').show(200)

+---------+--------------------+--------------------+--------------------+----------------------+--------+----------+----------+-------+--------------------+-------+------------+----------+
|   budget|                cast|            director|              genres|              keywords|language|popularity|   revenue|runtime|               title|tmdb_id|vote_average|vote_count|
+---------+--------------------+--------------------+--------------------+----------------------+--------+----------+----------+-------+--------------------+-------+------------+----------+
|  4000000|[Tim Roth, Jennif...|      Allison Anders|            [Comedy]|  [hotel, new year'...|      en|    21.138|   4257354|     98|          Four Rooms|      5|       5.789|      2443|
| 11000000|[Mark Hamill, Har...|        George Lucas|[Adventure, Actio...|  [android, galaxy,...|      en|    88.613| 775398007|    121|           Star Wars|     11|       8.204|     19236|
| 94000000|[Albert Brooks, E...|      Andrew Stanton| [Animation, Family]|  [parent child rel...|      en|    92.459| 940335536|    100|        Finding Nemo|     12|       7.824|     18132|
| 55000000|[Tom Hanks, Robin...|     Robert Zemeckis|[Comedy, Drama, R...|  [vietnam veteran,...|      en|    84.723| 677387716|    142|        Forrest Gump|     13|       8.477|     25544|
| 15000000|[Kevin Spacey, An...|          Sam Mendes|             [Drama]|  [adultery, age di...|      en|    35.477| 356296601|    122|     American Beauty|     14|       8.021|     11317|
|   839727|[Orson Welles, Jo...|        Orson Welles|    [Mystery, Drama]|  [journalist, news...|      en|    29.025|  23218000|    119|        Citizen Kane|     15|         8.0|      5069|
| 12800000|[Björk, Catherine...|      Lars von Trier|      [Drama, Crime]|  [individual, danc...|      en|    17.399|  40031879|    141|  Dancer in the Dark|     16|       7.871|      1626|
| 90000000|[Bruce Willis, Mi...|          Luc Besson|[Adventure, Fanta...|  [saving the world...|      en|    61.551| 263920180|    126|   The Fifth Element|     18|       7.532|      9997|
|  1300000|[Gustav Fröhlich,...|          Fritz Lang|[Drama, Science F...|  [man vs machine, ...|      de|    22.184|    650422|    149|          Metropolis|     19|       8.152|      2445|
|140000000|[Johnny Depp, Orl...|      Gore Verbinski|[Adventure, Fanta...|  [exotic island, b...|      en|   102.491| 655011224|    143|Pirates of the Ca...|     22|       7.795|     19312|
| 30000000|[Uma Thurman, Luc...|   Quentin Tarantino|     [Action, Crime]|  [japan, coma, mar...|      en|    43.717| 180906076|    111|   Kill Bill: Vol. 1|     24|       7.969|     16247|
| 72000000|[Jamie Foxx, Jake...|          Sam Mendes|        [Drama, War]|  [california, gulf...|      en|    25.485|  97076152|    123|             Jarhead|     25|       6.623|      2630|
| 31500000|[Martin Sheen, Fr...|Francis Ford Coppola|        [Drama, War]|  [cia, drug abuse,...|      en|    37.793| 150000000|    147|      Apocalypse Now|     28|       8.284|      7537|
| 14400000|[Clint Eastwood, ...|      Clint Eastwood|           [Western]|  [prostitute, sher...|      en|    33.929| 159157447|    130|          Unforgiven|     33|        7.91|      3988|
| 75000000|[Dan Castellaneta...|     David Silverman|[Animation, Comed...|  [parent child rel...|      en|     64.28| 527068851|     87|  The Simpsons Movie|     35|         7.0|      7458|
| 20000000|[Jim Carrey, Kate...|       Michel Gondry|[Science Fiction,...|  [new york city, d...|      en|    57.433|  72258126|    108|Eternal Sunshine ...|     38|       8.101|     13778|
|  2000000|[Gael García Bern...|Alejandro Gonzále...|   [Drama, Thriller]|  [homeless person,...|      es|    26.578|  20908467|    154|       Amores Perros|     55|       7.625|      2355|
|200000000|[Johnny Depp, Orl...|      Gore Verbinski|[Adventure, Fanta...|  [witch, fortune t...|      en|    75.754|1065659812|    151|Pirates of the Ca...|     58|       7.347|     14927|
| 32000000|[Viggo Mortensen,...|    David Cronenberg|[Drama, Thriller,...|  [robbery, double ...|      en|    29.246|  60740827|     96|A History of Viol...|     59|       7.166|      2922|
| 12000000|[Keir Dullea, Gar...|     Stanley Kubrick|[Science Fiction,...|  [moon, jupiter, a...|      en|    47.037|  71923560|    149|2001: A Space Ody...|     62|       8.077|     10640|
| 29000000|[Bruce Willis, Ma...|       Terry Gilliam|[Science Fiction,...|  [schizophrenia, p...|      en|    40.063| 168841459|    129|      Twelve Monkeys|     63|       7.598|      7725|
|        0|[Leonor Watling, ...|     Pedro Almodóvar|    [Drama, Romance]|  [suicide, spain, ...|      es|    13.935|  64803131|    112|         Talk to Her|     64|       7.586|      1182|
| 41000000|[Eminem, Kim Basi...|       Curtis Hanson|      [Drama, Music]|  [individual, stre...|      en|     29.71| 242875078|    111|              8 Mile|     65|       7.124|      6717|
| 50000000|[Clint Eastwood, ...|      Clint Eastwood|[Crime, Drama, Ac...|  [corruption, assa...|      en|    16.412|  50068310|    121|      Absolute Power|     66|       6.638|       963|
| 15000000|[Jonathan Pryce, ...|       Terry Gilliam|[Comedy, Science ...|  [bureaucracy, pol...|      en|    21.765|   9900000|    143|              Brazil|     68|       7.673|      3040|
| 28000000|[Joaquin Phoenix,...|       James Mangold|[Drama, Music, Ro...|  [germany, prison,...|      en|    12.705| 186797986|    136|       Walk the Line|     69|       7.487|      2639|
| 30000000|[Clint Eastwood, ...|      Clint Eastwood|             [Drama]|  [transporter, sui...|      en|    31.277| 216763646|    132| Million Dollar Baby|     70|       7.956|      8917|
|  5000000|[Jamie Bell, Gary...|      Stephen Daldry|[Drama, Comedy, M...|  [dancing, homopho...|      en|    18.318| 109280263|    110|        Billy Elliot|     71|       7.591|      3578|
| 20000000|[Edward Norton, E...|           Tony Kaye|             [Drama]|  [neo-nazism, pris...|      en|    34.816|  23875127|    119|  American History X|     73|       8.351|     10788|
|132000000|[Tom Cruise, Dako...|    Steven Spielberg|[Adventure, Thril...|  [post-traumatic s...|      en|    43.761| 603873119|    117|   War of the Worlds|     74|       6.499|      7773|
| 70000000|[Jack Nicholson, ...|          Tim Burton|[Comedy, Fantasy,...|  [saving the world...|      en|     32.54| 101371017|    106|       Mars Attacks!|     75|       6.396|      5025|
|  2500000|[Ethan Hawke, Jul...|   Richard Linklater|    [Drama, Romance]|  [sunrise, talking...|      en|    26.983|   5987386|    101|      Before Sunrise|     76|        7.97|      3747|
|  9000000|[Guy Pearce, Carr...|   Christopher Nolan| [Mystery, Thriller]|  [insulin, tattoo,...|      en|    38.206|  39723096|    113|             Memento|     77|       8.188|     13802|
| 28000000|[Harrison Ford, R...|        Ridley Scott|[Science Fiction,...|  [artificial intel...|      en|    61.206|  41722424|    118|        Blade Runner|     78|       7.932|     12840|
| 31000000|[Jet Li, Tony Leu...|         Zhang Yimou|[Drama, Adventure...|  [countryside, los...|      zh|    20.118| 177394432|     99|                Hero|     79|       7.511|      2041|
|  2700000|[Ethan Hawke, Jul...|   Richard Linklater|    [Drama, Romance]|  [paris, france, j...|      en|    19.846|  15992615|     80|       Before Sunset|     80|       7.821|      3096|
|  1000000|[Sumi Shimamoto, ...|      Hayao Miyazaki|[Adventure, Anima...|  [saving the world...|      ja|    31.256|   3301446|    117|Nausicaä of the V...|     81|        7.93|      3195|
|135000000|[Colin Farrell, J...|        Michael Mann|[Action, Crime, T...|  [miami, florida, ...|      en|    25.261| 163794509|    132|          Miami Vice|     82|       5.988|      1607|
| 18000000|[Harrison Ford, K...|    Steven Spielberg| [Adventure, Action]|  [saving the world...|      en|    69.229| 389925971|    115|Raiders of the Lo...|     85|       7.925|     11538|
| 28000000|[Harrison Ford, K...|    Steven Spielberg| [Adventure, Action]|  [riddle, treasure...|      en|    56.457| 333000000|    118|Indiana Jones and...|     87|       7.294|      8551|
|  6000000|[Jennifer Grey, P...|      Emile Ardolino|[Drama, Music, Ro...|  [dancing, sibling...|      en|    38.647| 214577242|    100|       Dirty Dancing|     88|       7.344|      5698|
| 48000000|[Harrison Ford, S...|    Steven Spielberg| [Adventure, Action]|  [germany, saving ...|      en|    61.662| 474171806|    127|Indiana Jones and...|     89|       7.846|      9356|
| 14000000|[Eddie Murphy, Ju...|        Martin Brest|[Action, Comedy, ...|  [showdown, underc...|      en|    28.821| 316360478|    105|   Beverly Hills Cop|     90|       7.184|      3647|
|140000000|[Bruce Willis, Bi...|         Michael Bay|[Action, Thriller...|  [saving the world...|      en|    47.021| 553799566|    151|          Armageddon|     95|        6.83|      7352|
| 28000000|[Eddie Murphy, Ju...|          Tony Scott|[Action, Comedy, ...|  [arms smuggling, ...|      en|    23.659| 299965036|    103|Beverly Hills Cop II|     96|       6.471|      2160|
| 17000000|[Jeff Bridges, Br...|    Steven Lisberger|[Science Fiction,...|  [video game, hack...|      en|    23.536|  33000000|     96|                Tron|     97|        6.67|      2077|
|103000000|[Russell Crowe, J...|        Ridley Scott|[Action, Drama, A...|  [rome, italy, par...|      en|    72.995| 465361176|    155|           Gladiator|     98|       8.209|     17069|
|  8272296|[Cecilia Roth, Ma...|     Pedro Almodóvar|     [Comedy, Drama]|  [barcelona, spain...|      es|     14.71|  67872296|    101| All About My Mother|     99|        7.66|      1721|
|  1350000|[Jason Flemyng, D...|         Guy Ritchie|     [Comedy, Crime]|  [ambush, alcohol,...|      en|    13.831|  28356188|    105|Lock, Stock and T...|    100|       8.126|      6101|
| 16000000|[Jean Reno, Natal...|          Luc Besson|[Crime, Drama, Ac...|  [new york city, c...|      en|    53.673|  45284974|    111|Léon: The Profess...|    101|       8.314|     13732|
|  1900000|[Robert De Niro, ...|     Martin Scorsese|      [Crime, Drama]|  [new york city, v...|      en|    58.558|  28600000|    114|         Taxi Driver|    103|         8.2|     11160|
|  1530000|[Franka Potente, ...|          Tom Tykwer|[Action, Drama, T...|  [berlin, germany,...|      de|     19.86|   7267585|     81|        Run Lola Run|    104|       7.319|      2016|
| 19000000|[Michael J. Fox, ...|     Robert Zemeckis|[Adventure, Comed...|  [clock tower, fly...|      en|    74.998| 381109762|    116|  Back to the Future|    105|         8.3|     18548|
| 15000000|[Arnold Schwarzen...|      John McTiernan|[Science Fiction,...|  [guerrilla warfar...|      en|    76.776|  98267558|    107|            Predator|    106|       7.507|      7313|
| 10000000|[Jason Statham, B...|         Guy Ritchie|     [Crime, Comedy]|  [england, gypsy, ...|      en|     38.41|  83557872|    103|              Snatch|    107|       7.803|      8352|
|        0|[Juliette Binoche...|Krzysztof Kieślowski|             [Drama]|  [paris, france, l...|      fr|    17.624|         0|     98|  Three Colors: Blue|    108|       7.675|      1512|
|        0|[Zbigniew Zamacho...|Krzysztof Kieślowski|[Comedy, Drama, M...|  [hairdresser, sex...|      fr|    14.192|         0|     92| Three Colors: White|    109|       7.479|      1056|
|        0|[Irène Jacob, Jea...|Krzysztof Kieślowski|[Drama, Mystery, ...|  [weather forecast...|      fr|    20.463|         0|    100|   Three Colors: Red|    110|       7.947|      1231|
| 25000000|[Al Pacino, Steve...|      Brian De Palma|[Action, Crime, D...|  [sibling relation...|      en|    63.238|  66023329|    170|            Scarface|    111|       8.166|     10831|
|        0|[Oh Young-soo, Ki...|          Kim Ki-duk|             [Drama]|  [buddhism, life a...|      ko|    18.041|   8945072|    103|Spring, Summer, F...|    113|       7.849|       957|
| 14000000|[Richard Gere, Ju...|      Garry Marshall|   [Comedy, Romance]|  [prostitute, capi...|      en|    45.577| 463406268|    119|        Pretty Woman|    114|       7.451|      7414|
| 15000000|[Jeff Bridges, Jo...|           Joel Coen|     [Comedy, Crime]|  [white russian, b...|      en|    32.115|  47010480|    117|    The Big Lebowski|    115|       7.841|     10434|
| 15000000|[Jonathan Rhys Me...|         Woody Allen|[Drama, Thriller,...|  [love triangle, l...|      en|    25.393|  85306374|    124|         Match Point|    116|       7.348|      3780|
| 25000000|[Kevin Costner, S...|      Brian De Palma|[Crime, Drama, Hi...|  [chicago, illinoi...|      en|    37.809|  76270454|    119|    The Untouchables|    117|        7.77|      5207|
|150000000|[Johnny Depp, Fre...|          Tim Burton|[Adventure, Comed...|  [london, england,...|      en|   111.102| 474968763|    115|Charlie and the C...|    118|       7.042|     14030|
| 93000000|[Elijah Wood, Ian...|       Peter Jackson|[Adventure, Fanta...|  [elves, dwarf, or...|      en|    112.14| 871368364|    179|The Lord of the R...|    120|       8.404|     23439|
| 79000000|[Elijah Wood, Sea...|       Peter Jackson|[Adventure, Fanta...|  [elves, dwarf, or...|      en|    92.164| 926287400|    179|The Lord of the R...|    121|       8.386|     20379|
| 94000000|[Elijah Wood, Sea...|       Peter Jackson|[Adventure, Fanta...|  [elves, dwarf, or...|      en|    95.199|1118888979|    201|The Lord of the R...|    122|       8.475|     22465|
|  4000000|[Christopher Guar...|        Ralph Bakshi|[Adventure, Anima...|  [elves, dwarf, ba...|      en|    25.732|  30471420|    132|The Lord of the R...|    123|       6.574|       773|
| 23500000|[Youji Matsuda, Y...|      Hayao Miyazaki|[Adventure, Fanta...|  [fight, wolf, hum...|      ja|    61.142| 169000000|    134|   Princess Mononoke|    128|       8.337|      7279|
| 19000000|[Rumi Hiiragi, Mi...|      Hayao Miyazaki|[Animation, Famil...|  [witch, parent ch...|      ja|     90.38| 274925095|    125|       Spirited Away|    129|        8.54|     14999|
| 26000000|[George Clooney, ...|           Joel Coen|[Adventure, Comed...|  [prophecy, southe...|      en|    26.044|  71870729|    107|O Brother, Where ...|    134|       7.323|      3807|
| 14600000|[Bill Murray, And...|        Harold Ramis|[Romance, Fantasy...|  [holiday, deja vu...|      en|    31.018|  71074049|    101|       Groundhog Day|    137|       7.607|      7293|
|  6000000|[Jake Gyllenhaal,...|       Richard Kelly|[Fantasy, Drama, ...|  [fire, parent chi...|      en|    34.654|   7500000|    114|        Donnie Darko|    141|       7.781|     11574|
| 14000000|[Heath Ledger, Ja...|             Ang Lee|    [Drama, Romance]|  [countryside, hom...|      en|    36.445| 178043761|    134|  Brokeback Mountain|    142|         7.8|      6454|
|  1448864|[Louis Wolheim, L...|     Lewis Milestone|        [Drama, War]|  [germany, disillu...|      en|    18.951|   3270000|    134|All Quiet on the ...|    143|        7.75|       702|
|  2500000|[Bruno Ganz, Solv...|         Wim Wenders|[Drama, Fantasy, ...|  [berlin, germany,...|      de|    18.388|   3210139|    128|     Wings of Desire|    144|       7.777|      1157|
| 17000000|[Chow Yun-fat, Mi...|             Ang Lee|[Adventure, Drama...|  [flying, martial ...|      zh|     23.55| 213525736|    120|Crouching Tiger, ...|    146|         7.4|      2926|
|        0|[Jean-Pierre Léau...|   François Truffaut|             [Drama]|  [paris, france, d...|      fr|    16.902|         0|     99|       The 400 Blows|    147|       8.057|      1946|
| 10000000|[Mitsuo Iwata, No...|     Katsuhiro Otomo|[Animation, Scien...|  [saving the world...|      ja|    45.697|    553171|    124|               Akira|    149|         7.9|      3749|
| 12000000|[Nick Nolte, Eddi...|         Walter Hill|[Thriller, Action...|  [prison, san fran...|      en|    21.816|  78868508|     96|             48 Hrs.|    150|       6.681|      1321|
| 35000000|[William Shatner,...|         Robert Wise|[Science Fiction,...|  [artificial intel...|      en|     27.74| 139000000|    132|Star Trek: The Mo...|    152|         6.5|      1569|
|  4000000|[Bill Murray, Sca...|       Sofia Coppola|    [Drama, Romance]|  [upper class, jap...|      en|    21.684| 119723856|    102| Lost in Translation|    153|       7.395|      6758|
| 12000000|[William Shatner,...|      Nicholas Meyer|[Action, Adventur...|  [life and death, ...|      en|    22.791|  96800000|    113|Star Trek II: The...|    154|       7.459|      1747|
|185000000|[Christian Bale, ...|   Christopher Nolan|[Drama, Action, C...|  [crime fighter, s...|      en|   112.333|1004558444|    152|     The Dark Knight|    155|         8.5|     30780|
| 18000000|[William Shatner,...|       Leonard Nimoy|[Science Fiction,...|  [genesis, starshi...|      en|     9.667|  87000000|    105|Star Trek III: Th...|    157|       6.603|      1233|
| 85000000|[George Clooney, ...|   Steven Soderbergh|   [Thriller, Crime]|  [prison, casino, ...|      en|    43.881| 450717150|    116|      Ocean's Eleven|    161|       7.429|     10828|
| 20000000|[Johnny Depp, Win...|          Tim Burton|[Fantasy, Drama, ...|  [underdog, love a...|      en|    61.543|  53000000|    105| Edward Scissorhands|    162|       7.718|     12105|
|110000000|[George Clooney, ...|   Steven Soderbergh|   [Thriller, Crime]|  [rome, italy, seq...|      en|    27.711| 362744280|    125|      Ocean's Twelve|    163|       6.565|      6753|
|  2500000|[Audrey Hepburn, ...|       Blake Edwards|[Comedy, Romance,...|  [new york city, c...|      en|    22.484|   9500000|    115|Breakfast at Tiff...|    164|       7.677|      3898|
| 40000000|[Michael J. Fox, ...|     Robert Zemeckis|[Adventure, Comed...|  [skateboarding, f...|      en|    42.762| 332000000|    108|Back to the Futur...|    165|       7.752|     11877|
| 48000000|[Jeff Bridges, Ke...|        Iain Softley|[Science Fiction,...|  [robbery, dream, ...|      en|    16.887|  50315140|    120|               K-PAX|    167|        7.19|      2180|
| 24000000|[William Shatner,...|       Leonard Nimoy|[Science Fiction,...|  [saving the world...|      en|    19.473| 133000000|    119|Star Trek IV: The...|    168|         7.2|      1339|
| 35000000|[Danny Glover, Ga...|     Stephen Hopkins|[Science Fiction,...|  [predator, war on...|      en|    49.115|  57120318|    108|          Predator 2|    169|       6.263|      2921|
|  5000000|[Cillian Murphy, ...|         Danny Boyle|[Horror, Thriller...|  [london, england,...|      en|    38.632|  85720385|    113|       28 Days Later|    170|       7.203|      6140|
| 30000000|[William Shatner,...|     William Shatner|[Science Fiction,...|  [uss enterprise-a...|      en|    16.822|  70200000|    106|Star Trek V: The ...|    172|         5.7|      1073|
|  5000000|[Kirk Douglas, Ja...|   Richard Fleischer|[Adventure, Drama...|  [diving, ocean, s...|      en|    19.922|  28200000|    127|20,000 Leagues Un...|    173|       7.056|       778|
| 27000000|[William Shatner,...|      Nicholas Meyer|[Science Fiction,...|  [farewell, peace ...|      en|    16.489|  96900000|    109|Star Trek VI: The...|    174|         7.0|      1150|
| 14390509|[Jean-Marc Barr, ...|          Luc Besson|[Drama, Romance, ...|  [italy, suicide, ...|      fr|    21.961|         0|    168|        The Big Blue|    175|       7.465|      1321|
|  1200000|[Cary Elwes, Leig...|           James Wan|[Horror, Mystery,...|  [detective, shotg...|      en|   234.881| 103911669|    103|                 Saw|    176|       7.405|      8459|
| 24000000|[Jeff Bridges, Ro...|       Terry Gilliam|     [Comedy, Drama]|  [holy grail, loss...|      en|    14.193|  41895491|    138|     The Fisher King|    177|       7.274|      1211|
| 28000000|[Jeff Bridges, To...|     Stephen Hopkins|            [Action]|  [boston, massachu...|      en|    17.446|  30156002|    121|          Blown Away|    178|       6.185|       482|

#### Save the Cleaned Movies Dataset

In [0]:
clean_movies.coalesce(1).write.parquet(os.path.join(CLEAN_PATH, "movies"), mode="overwrite")

# START SANDBOX CODE