### Set Up Notebook

#### Import Required Modules

In [0]:
# %pip install pinecone-client python-dotenv

In [0]:
import os
import json

from typing import List, Dict
from dotenv import load_dotenv

from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.window import Window

from pyspark.ml.recommendation import ALS

#### Get or Create SparkSession

In [0]:
spark = SparkSession.builder.getOrCreate()
spark.sparkContext.setLogLevel("error")
spark

#### Load Secrets as Environment Variables

In [0]:
load_dotenv("/dbfs/FileStore/env/.env")

Out[6]: True

#### Set Workflow Constants

In [0]:
MIN_RATING = 3
MIN_USERS = 10
MIN_MOVIES = 10
DIMENSION = 32
INDEX_NAME = "collaborative-embeddings"
CLN_PATH = "dbfs:/FileStore/data/clean"

### Create Model Frame

#### Import Clean Data

In [0]:
movies = spark.read.parquet(os.path.join(CLN_PATH, "movies"))
movies.show(10)

+-------+--------------------+------------+-------+--------------------+--------------------+---------+---------+----------+------------+----------+--------------------+
|tmdb_id|               title|release_date|runtime|              genres|            overview|   budget|  revenue|popularity|vote_average|vote_count|            keywords|
+-------+--------------------+------------+-------+--------------------+--------------------+---------+---------+----------+------------+----------+--------------------+
|  10010|      Brother Bear 2|  2006-08-17|   73.0|[Adventure, Anima...|Kenai finds his c...|     null|     null| 10.861154|         6.3|       318|[grizzly bear, hu...|
|  10012|              Cursed|  2005-02-25|   97.0|    [Horror, Comedy]|A werewolf loose ...| 35000000| 19294901|  8.949722|         5.1|       168|[brother sister r...|
| 100402|Captain America: ...|  2014-03-20|  136.0|[Action, Adventur...|After the catacly...|170000000|714766572| 18.717704|         7.6|      5881|[washington d.c.,...|
|  10068|      Nine 1/2 Weeks|  1986-02-14|  117.0|    [Drama, Romance]|An erotic story a...| 17000000|  6735922|  6.706262|         5.8|       183|                null|
|  10096|      13 Going on 30|  2004-04-13|   98.0|[Comedy, Fantasy,...|After total humil...| 37000000| 96455697| 12.632595|         6.3|      1260|[new york, photog...|
|  10110|   Empire of the Sun|  1987-12-09|  153.0|[Drama, History, ...|Jamie Graham, a p...| 35000000| 22238696| 10.220906|         7.3|       491|[japan, stadium, ...|
| 101325|          The Forger|  2011-03-09|   96.0|             [Drama]|While staying at ...|     null|     null|  7.854465|         6.0|        40|[california, pain...|
|  10133|              Cypher|  2002-10-01|   95.0|[Thriller, Scienc...|An unsuspecting, ...|  7500000|     null|  7.348974|         6.7|       196|[double life, und...|
|  10138|          Iron Man 2|  2010-04-28|  124.0|[Adventure, Actio...|With the world no...|200000000|623933331| 19.083344|         6.6|      6969|[malibu, marvel c...|
|  10145|       The Forgotten|  2004-09-24|   91.0|[Crime, Drama, Ho...|Telly Paretta is ...| 42000000|117575636|   6.40146|         5.5|       359|[loss of son, mot...|
+-------+--------------------+------------+-------+--------------------+--------------------+---------+---------+----------+------------+----------+--------------------+
only showing top 10 rows

In [0]:
ratings = spark.read.parquet(os.path.join(CLN_PATH, "ratings"))
ratings.show(10)

+-------+-------+------+-------------------+
|user_id|tmdb_id|rating|          timestamp|
+-------+-------+------+-------------------+
|  42017|     14|   4.0|2015-09-10 22:15:39|
|  54926|    165|   2.5|2006-03-19 20:54:43|
|  47629|   1637|   4.0|1996-07-01 14:27:03|
|  68508|  13920|   5.0|2003-11-14 01:18:56|
|  59910|  24746|   4.0|2017-07-29 19:41:07|
|  50057|  26195|   4.0|2006-10-22 17:38:40|
|  61522|   1621|   3.0|2001-07-04 22:26:29|
|  64941|    873|   5.0|2010-07-08 17:55:35|
|  53592|  10110|   5.0|2001-07-17 15:55:23|
|  56874| 150540|   5.0|2016-07-15 16:21:38|
+-------+-------+------+-------------------+
only showing top 10 rows

#### Create an Implicit Feedback Recommender Model Frame

In [0]:
model_frame = ratings \
    .join(movies, on='tmdb_id', how='inner') \
    .select('user_id', 'tmdb_id', 'rating', 'timestamp') \
    .filter(f.col('rating') >= MIN_RATING) \
    .withColumn('cnt_users', f.count('*').over(Window.partitionBy('tmdb_id'))) \
    .withColumn('cnt_movies', f.count('*').over(Window.partitionBy('user_id'))) \
    .filter(f.col('cnt_users') >= MIN_USERS) \
    .filter(f.col('cnt_movies') >= MIN_MOVIES) \
    .withColumn('rating', f.col('rating') - (MIN_RATING - 1)) \
    .withColumn('user_id', f.col('user_id').cast('INTEGER')) \
    .withColumn('tmdb_id', f.col('tmdb_id').cast('INTEGER')) \
    .cache()

counts = model_frame.agg(f.countDistinct('user_id').alias('users'), f.countDistinct('tmdb_id').alias('movies'), f.count('*').alias('ratings')).first()
sparsity = round(1 - (counts['ratings'] / (counts['users'] * counts['movies'])), 4)
print(f"users={counts['users']} movies={counts['movies']} ratings={counts['ratings']} sparsity={sparsity}")
model_frame.show(10, truncate=False)

users=195899 movies=6235 ratings=15372729 sparsity=0.9874
+-------+-------+------+-------------------+---------+----------+
|user_id|tmdb_id|rating|timestamp          |cnt_users|cnt_movies|
+-------+-------+------+-------------------+---------+----------+
|100010 |11     |3.0   |1997-02-21 13:37:24|71403    |27        |
|100010 |10534  |3.0   |1997-02-21 13:41:49|4056     |27        |
|100010 |36915  |1.0   |1997-02-21 13:44:51|622      |27        |
|100010 |11860  |1.0   |1997-02-21 13:36:43|12818    |27        |
|100010 |1645   |2.0   |1997-02-21 13:37:54|12426    |27        |
|100010 |9294   |2.0   |1997-02-21 13:38:28|12200    |27        |
|100010 |63     |2.0   |1997-02-21 13:35:32|49933    |27        |
|100010 |252    |2.0   |1997-02-21 13:36:43|29169    |27        |
|100010 |954    |1.0   |1997-02-21 13:35:33|37731    |27        |
|100010 |602    |1.0   |1997-02-21 13:35:32|45885    |27        |
+-------+-------+------+-------------------+---------+----------+
only showing top 10 rows

In [0]:
model_frame.repartition(10).write.parquet(os.path.join(CLN_PATH, "model_frame"), mode="overwrite")

### Train the ALS Recommender Model and Update User/Movie Embeddings

#### Train the ALS Model

In [0]:
estimator = ALS(rank=DIMENSION, maxIter=15, regParam=0.1, implicitPrefs=True, userCol='user_id', itemCol='tmdb_id', ratingCol='rating')
transformer = estimator.fit(model_frame)
transformer

Out[31]: ALSModel: uid=ALS_68021d38058b, rank=32

#### Extract the Embeddings from the Fit Model and Format for Index Insertion

In [0]:
user_embeddings = transformer.userFactors \
    .withColumn('id', f.col('id').cast('string')) \
    .withColumnRenamed('features', 'values') \
    .toPandas() \
    .to_dict(orient='records')

movie_embeddings = transformer.itemFactors \
    .withColumn('id', f.col('id').cast('string')) \
    .withColumnRenamed('features', 'values') \
    .toPandas() \
    .to_dict(orient='records')

user_embeddings  = [{"id": item["id"], "values": item["values"].tolist()} for item in user_embeddings]
movie_embeddings = [{"id": item["id"], "values": item["values"].tolist()} for item in movie_embeddings]
len(user_embeddings), len(movie_embeddings)

Out[32]: (195899, 6235)

#### Insert the User/Movie Embeddings into the Pinecone Index

In [0]:
import pinecone      
pinecone.init(api_key=os.environ["PINECONE_API_KEY"], environment=os.environ["PINECONE_ENVIRONMENT"])

In [0]:
# pinecone.delete_index(INDEX_NAME)
# pinecone.create_index(name=INDEX_NAME, dimension=DIMENSION, metric='cosine', pods=1, replicas=1, pod_type="p1")

In [0]:
index = pinecone.Index(INDEX_NAME)
index.describe_index_stats()

Out[41]: {'dimension': 32,
 'index_fullness': 0.0,
 'namespaces': {},
 'total_vector_count': 0}

In [0]:
index.upsert(vectors=user_embeddings, namespace="users", batch_size=100)

Upserted vectors:   0%|          | 0/195899 [00:00<?, ?it/s]

Out[42]: {'upserted_count': 195899}

In [0]:
index.upsert(vectors=movie_embeddings, namespace="movies", batch_size=100)

Upserted vectors:   0%|          | 0/6235 [00:00<?, ?it/s]

Out[43]: {'upserted_count': 6235}

In [0]:
index.describe_index_stats()

Out[44]: {'dimension': 32,
 'index_fullness': 0.0,
 'namespaces': {'movies': {'vector_count': 6235},
                'users': {'vector_count': 195899}},
 'total_vector_count': 202134}

#### Spot Check the Collaborative Filtering Embeddings with Sample Queries

In [0]:
movies.sort('tmdb_id').show(100)

+-------+--------------------+------------+-------+--------------------+--------------------+---------+---------+----------+------------+----------+--------------------+
|tmdb_id|               title|release_date|runtime|              genres|            overview|   budget|  revenue|popularity|vote_average|vote_count|            keywords|
+-------+--------------------+------------+-------+--------------------+--------------------+---------+---------+----------+------------+----------+--------------------+
|  10003|           The Saint|  1997-04-03|  116.0|[Thriller, Action...|Ivan Tretiak, Rus...| 68000000|118063304|  10.97633|         5.9|       310|[berlin, russia, ...|
| 100042|  Dumb and Dumber To|  2014-11-12|  110.0|            [Comedy]|20 years after th...| 40000000|169837010| 15.402597|         5.4|      1140|[friendship, sequ...|
|  10005|Behind Enemy Line...|  2006-10-17|   96.0|[Action, Adventur...|Navy SEALS, heade...|     null|     null| 11.063562|         4.5|        31|[nuclear missile,...|
|  10007|         See No Evil|  2006-05-19|   84.0|  [Horror, Thriller]|A group of delinq...|  8000000|     null|  5.659608|         4.8|       146|[hotel, eye ball,...|
|  10008|An American Haunting|  2005-05-05|   83.0|  [Horror, Thriller]|Based on the true...|     null|     null|  5.026855|         5.3|       143|[witch, independe...|
|  10009|        Brother Bear|  2003-10-23|   85.0|[Adventure, Anima...|When an impulsive...|100000000|     null| 12.300905|         6.9|      1410|[brother brother ...|
|  10010|      Brother Bear 2|  2006-08-17|   73.0|[Adventure, Anima...|Kenai finds his c...|     null|     null| 10.861154|         6.3|       318|[grizzly bear, hu...|
|  10012|              Cursed|  2005-02-25|   97.0|    [Horror, Comedy]|A werewolf loose ...| 35000000| 19294901|  8.949722|         5.1|       168|[brother sister r...|
|  10013|Peggy Sue Got Mar...|  1986-10-05|  103.0|[Comedy, Drama, F...|Peggy Sue faints ...| 18000000| 41382841|  7.471655|         5.9|       138|[time travel, hig...|
|  10014|A Nightmare on El...|  1985-10-31|   87.0|            [Horror]|A new family move...|  3000000| 29999213|  8.668146|         5.7|       367|[gay, dancing, fi...|
|  10015|    Heartbreak Ridge|  1986-12-15|  130.0|[Action, Comedy, ...|A hard-nosed, har...| 15000000| 42724017|  7.390012|         6.5|       270|[recruit, officer...|
|  10016|      Ghosts of Mars|  2001-08-24|   98.0|[Action, Horror, ...|Melanie Ballard (...| 28000000| 14010832|  7.058599|         4.8|       299|[climbing up a wa...|
|  10017|          The Wraith|  1986-11-21|   93.0|[Romance, Science...|Packard Walsh and...|  2700000|  3500000|  7.657918|         5.9|       109|[male nudity, fem...|
|  10019|           Mannequin|  1987-02-13|   89.0|[Fantasy, Comedy,...|Jonathan Switcher...|  6000000| 42721196|  8.525782|         5.5|       130|[new love, depart...|
|  10020|Beauty and the Beast|  1991-11-13|   84.0|[Romance, Family,...|Follow the advent...| 25000000|377350553| 23.433511|         7.5|      3029|[prince, book, ca...|
|  10021|The Secret of My ...|  1987-04-10|  111.0|            [Comedy]|Brantley Foster, ...| 12000000|110996879|  5.409557|         6.2|       151|[dual identity, m...|
|  10022|        The Pacifier|  2005-03-04|   95.0|[Action, Comedy, ...|Disgraced Navy SE...| 56000000|113006880|   7.81645|         5.8|       865|[bodybuilder, chi...|
|  10023|             Dragnet|  1987-06-25|  106.0|[Action, Comedy, ...|"The equally-stra...| 20000000| 66673516|  7.907938|         5.7|       139|[molotow cocktail...|
|  10024|  My Sister's Keeper|  2009-06-26|  109.0|             [Drama]|Sara and Brian li...| 30000000| 95714875|  6.793972|         7.1|       614|[parent child rel...|
| 100241|     I, Frankenstein|  2014-01-22|   92.0|  [Horror, Thriller]|200 years after h...| 65000000| 71154592|  9.415817|         5.1|       701|[soul, queen, ant...|
|  10025|        Just My Luck|  2006-05-12|  103.0|[Comedy, Drama, F...|Manhattanite Ashl...| 28000000| 38159905|  6.053567|         5.8|       512|[jinx, bad luck, ...|
|  10028|               Honey|  2003-11-24|   94.0|[Romance, Music, ...|Honey Daniels (Je...| 18000000| 62646763| 11.863954|         6.0|       313|[new york, dancin...|
|  10029|     Very Bad Things|  1998-09-11|  100.0|[Comedy, Crime, T...|Kyle Fisher has o...| 30000000|  9898412| 10.432293|         6.2|       182|[prostitute, hote...|
|  10030|     Good Luck Chuck|  2007-09-21|  101.0|            [Comedy]|Cursed since chil...| 25000000| 59192128|  7.456047|         5.6|       454|[sex, aquarium, n...|
|  10032|Van Wilder 2: The...|  2006-12-01|   97.0|            [Comedy]|Taj Mahal Badalan...|     null|  6086508|  5.985236|         5.1|       162|[indian lead, sno...|
|  10033|        Just Friends|  2005-11-23|   96.0|   [Comedy, Romance]|While visiting hi...|     null| 50817508|  8.208492|         5.9|       424|[success, change,...|
| 100402|Captain America: ...|  2014-03-20|  136.0|[Action, Adventur...|After the catacly...|170000000|714766572| 18.717704|         7.6|      5881|[washington d.c.,...|
|  10046|           Blueberry|  2004-02-09|  124.0|           [Western]|U.S Marshal Mike ...| 53000000|     null|  7.892626|         5.0|        51|[indian territory...|
|  10047|The Messenger: Th...|  1999-10-18|  148.0|[Adventure, Drama...|In 1429 a teenage...| 60000000| 66976317|  9.471838|         6.2|       373|[schizophrenia, f...|
|  10048|             Stealth|  2005-07-28|  121.0|            [Action]|Deeply ensconced ...|135000000| 76932943|  13.89018|         4.9|       341|[artificial intel...|
|  10049|        Attack Force|  2006-12-05|   94.0|  [Action, Thriller]|Marshall Lawson i...|     null|     null|  8.844451|         4.3|        25|[army, slaughter,...|
|  10053|When a Stranger C...|  2006-02-03|   87.0|  [Horror, Thriller]|Far away from the...| 15000000| 66966987|  5.149058|         5.4|       273|[babysitter, deat...|
|  10054|            Spy Kids|  2001-03-18|   88.0|[Action, Comedy, ...|"Carmen and Juni ...| 35000000|147934180|  9.576745|         5.5|       893|[double life, par...|
|  10057|The Three Musketeers|  1993-11-11|  105.0|[Action, Adventur...|D'Artagnan travel...| 30000000| 53898845|   6.34785|         6.2|       219|  [paris, musketeer]|
|  10060|Get Rich or Die T...|  2005-11-09|  117.0|             [Drama]|A tale of an inne...| 40000000| 46442528|  9.820229|         6.3|       188|[loss of mother, ...|
|  10061|    Escape from L.A.|  1996-08-09|   97.0|[Action, Adventur...|This time, a cata...| 50000000| 42277365| 12.229381|         5.6|       381|[prison, usa pres...|
|  10064|              Edison|  2005-07-29|   99.0|          [Thriller]|Upon discovering ...|     null|     null|  5.394304|         5.4|        82|[journalist, poli...|
|  10065|The Amityville Ho...|  2005-04-15|   90.0|[Horror, Thriller...|A family is terro...| 19000000|108047131| 13.088552|         6.0|       606|[holy water, long...|
|  10066|        House of Wax|  2005-04-30|  113.0|            [Horror]|A group of unwitt...| 40000000| 68766121|  7.163099|         5.5|       696|[american footbal...|
|  10068|      Nine 1/2 Weeks|  1986-02-14|  117.0|    [Drama, Romance]|An erotic story a...| 17000000|  6735922|  6.706262|         5.8|       183|                null|
|  10070|               Feast|  2005-10-14|   95.0|[Action, Comedy, ...|Patrons locked in...|     null|   658573|  7.888988|         6.1|       162|[monster, pub, du...|
|  10071|The Brothers Solomon|  2007-09-07|   93.0|            [Comedy]|A pair of well-me...|     null|     null|  7.985172|         4.9|        46|[brother brother ...|
|  10072|A Nightmare on El...|  1987-02-27|   96.0|  [Horror, Thriller]|It's been many ye...|  5000000| 44793222| 10.035081|         6.5|       363|[group therapy, n...|
|  10073|          Date Movie|  2006-02-17|   83.0|            [Comedy]|Spoof of romantic...| 20000000| 48548426|  5.682129|         3.6|       225|[date, diary, par...|
|  10074|             Hot Rod|  2007-08-03|   88.0|    [Action, Comedy]|For Rod Kimball, ...|     null| 14334401|  6.117846|         6.3|       317|[stuntman, step f...|
|  10075| Blood and Chocolate|  2007-01-26|   98.0|[Drama, Fantasy, ...|A young teenage w...|     null|     null|  5.415846|         5.5|        92|[chocolate, werew...|
|  10078|           Magicians|  2007-05-18|   90.0|            [Comedy]|A pair of rivalin...|     null|  1752038|  6.478953|         6.2|        25|[magic, guillotin...|
|  10081|       The Principal|  1987-09-18|  109.0|[Action, Adventur...|Burglary. Drugs. ...|     null|     null|  8.332485|         6.1|        62|[resistance, drug...|
|  10083|          No Way Out|  1987-08-14|  114.0|[Action, Drama, T...|Navy Lt. Tom Farr...| 15000000| 35509515| 11.457803|         6.9|       155|[homicide, pentag...|
|  10092|            Cry_Wolf|  2005-09-16|   90.0|  [Horror, Thriller]|Eight unsuspectin...|  1000000| 10047674|  9.454335|         5.6|       127|[murder, serial k...|
|  10093|          The Return|  2006-11-10|   85.0|[Drama, Horror, T...|Joanna Mills has ...| 15000000| 11992014|  9.338989|         5.1|        61|[wound, nightmare...|
|  10096|      13 Going on 30|  2004-04-13|   98.0|[Comedy, Fantasy,...|After total humil...| 37000000| 96455697| 12.632595|         6.3|      1260|[new york, photog...|
|  10105| Saints and Soldiers|  2003-09-11|   90.0|[Action, Adventur...|Five American sol...|   780000|     null|  7.975389|         6.6|        98|[winter, belgium,...|
|  10107|       Firehouse Dog|  2007-04-04|  111.0|[Adventure, Comed...|Rexxx, Hollywood'...|     null|     null|  7.078447|         6.0|        44|[human animal rel...|
|  10110|   Empire of the Sun|  1987-12-09|  153.0|[Drama, History, ...|Jamie Graham, a p...| 35000000| 22238696| 10.220906|         7.3|       491|[japan, stadium, ...|
|  10112|      The Aristocats|  1970-12-23|   78.0|[Animation, Comed...|When Madame Adela...|  4000000| 55675257|  9.834047|         7.1|      1287|[paris, cat, butl...|
|  10115|            Stick It|  2006-04-21|  105.0|     [Comedy, Drama]|Haley is a natura...|     null|     null|  7.255225|         6.3|       153|[gymnastics, trai...|
|  10117|      Action Jackson|  1988-02-12|   96.0|[Action, Adventur...|Vengence drives a...|  7000000| 20256975| 14.054862|         4.9|        51|[showdown, suspic...|
| 101173|          Coriolanus|  2011-02-14|  123.0|   [Drama, Thriller]|Caius Martius, ak...|  7700000|  1072602|  6.914615|         5.9|       133|[senate, general,...|
| 101176|  The Butterfly Room|  2012-08-04|   87.0|  [Horror, Thriller]|Ann, a reclusive ...|     null|     1081|  6.569589|         5.9|        38|                  []|
|  10122|Flight of the Nav...|  1986-07-30|   90.0|[Family, Science ...|This 1986 Disney ...|     null| 18564613|  5.526865|         6.9|       227|[artificial intel...|
|  10126|              Colors|  1988-04-15|  120.0|[Action, Crime, D...|A confident young...|  6000000| 46616067|  5.529808|         6.6|       100|[police brutality...|
| 101267|Katy Perry: Part ...|  2012-06-28|   93.0|[Documentary, Music]|Giving fans unpre...| 12000000| 32726956|  8.960713|         6.5|        88|    [woman director]|
|  10127|          Critters 2|  1988-04-29|   86.0|[Comedy, Horror, ...|A batch of unhatc...|  4500000|  3813293|   9.97523|         5.0|        91|[female nudity, b...|
|  10128|        Alien Nation|  1988-10-07|   91.0|[Crime, Science F...|A few years from ...| 16000000| 32155047| 15.133316|         5.9|        81|[living together,...|
|  10130|Gorillas in the Mist|  1988-09-23|  129.0|             [Drama]|The story of Dian...| 22000000|     null| 11.978983|         6.7|       136|[gorilla, menace,...|
|  10131|A Nightmare on El...|  1988-08-19|   99.0|  [Horror, Thriller]|Dream demon Fredd...|  7000000| 72500000|  8.120317|         5.8|       287|[martial arts, ni...|
|  10132|          Talk Radio|  1988-12-21|  110.0|             [Drama]|A rude, contemptu...|  4000000|  3468572|  6.865513|         6.7|        46|[anonymity, radio...|
| 101325|          The Forger|  2011-03-09|   96.0|             [Drama]|While staying at ...|     null|     null|  7.854465|         6.0|        40|[california, pain...|
|  10133|              Cypher|  2002-10-01|   95.0|[Thriller, Scienc...|An unsuspecting, ...|  7500000|     null|  7.348974|         6.7|       196|[double life, und...|
|  10134|              Cyborg|  1989-04-07|   86.0|[Action, Science ...|A martial artist ...|   500000| 10166459|  8.473602|         4.9|       154|[cyborg, martial ...|
|  10136|    The Golden Child|  1986-12-12|   94.0|[Action, Adventur...|A detective speci...| 25000000| 79817939|  8.236472|         5.6|       311|[monk, social wor...|
|  10137|       Stuart Little|  1999-12-17|   84.0|[Animation, Fanta...|The adventures of...|133000000|300135367|    8.3595|         5.8|       998|[brother brother ...|
|  10138|          Iron Man 2|  2010-04-28|  124.0|[Adventure, Actio...|With the world no...|200000000|623933331| 19.083344|         6.6|      6969|[malibu, marvel c...|
|  10139|                Milk|  2008-11-26|  128.0|    [History, Drama]|The story of Cali...| 20000000| 54586584| 10.680121|         7.1|       628|[gay, san francis...|
|  10140|The Chronicles of...|  2010-08-13|  113.0|[Adventure, Famil...|This time around ...|155000000|415686217| 12.383398|         6.2|      1555|[based on novel, ...|
|  10141|Dirty Rotten Scou...|  1988-12-14|  110.0|     [Crime, Comedy]|Two con men try t...|     null| 42039085|   6.78824|         7.0|       223|[competition, lux...|
|  10142|   Casualties of War|  1989-08-18|  113.0|[Drama, History, ...|During the Vietna...| 22500000| 18671317|  7.435688|         6.8|       203|[rape, menace, vi...|
|  10144|  The Little Mermaid|  1989-11-17|   83.0| [Animation, Family]|This colorful adv...| 40000000|222300000| 17.496832|         7.2|      1921|[sea, fireworks, ...|
|  10145|       The Forgotten|  2004-09-24|   91.0|[Crime, Drama, Ho...|Telly Paretta is ...| 42000000|117575636|   6.40146|         5.5|       359|[loss of son, mot...|
|  10147|           Bad Santa|  2003-11-26|   91.0|[Drama, Comedy, C...|A miserable conma...| 23000000| 76488889| 10.930143|         6.4|       666|[holiday, elves, ...|
|  10149|               Smoke|  1995-06-09|  112.0|     [Comedy, Drama]|Writer Paul Benja...|  7000000|  8349430|  5.552946|         7.2|       115|[smoking, robber,...|
|  10150|    The Last Unicorn|  1982-11-19|   92.0|[Fantasy, Animati...|From a riddle-spe...|     null|  6455530|  6.634939|         7.0|       117|                null|
| 101519|A Fantastic Fear ...|  2012-06-07|  100.0|  [Comedy, Thriller]|Jack is a childre...|     null|     null|  5.507377|         5.7|       102|          [paranoia]|
|  10152|Dumb and Dumberer...|  2003-06-13|   85.0|            [Comedy]|This wacky preque...| 19000000| 39267515|  9.280038|         4.1|       211|[skateboarding, a...|
|  10153|              Sphere|  1998-02-13|  134.0|   [Science Fiction]|The OSSA discover...| 75000000| 13100000|  7.124735|         5.8|       483|[ocean, extraterr...|
|  10154|    Mickey Blue Eyes|  1999-08-16|  102.0|[Comedy, Crime, R...|"An English aucti...|     null|     null|  6.951414|         5.3|       142|[new york, marria...|
|  10155|              U Turn|  1997-10-03|  125.0|          [Thriller]|When Bobby's car ...| 19000000|  6682098|  7.923639|         6.5|       185|[car breakdown, w...|
|  10156|History of the Wo...|  1981-06-12|   92.0|            [Comedy]|An uproarious ver...| 11000000| 31672907|  9.270492|         6.5|       205|[moses, roman emp...|
|  10157|Police Academy 2:...|  1985-03-28|   87.0|     [Comedy, Crime]|Officer Carey Mah...|     null| 55600000|  9.021668|         5.6|       349|[handcuffs, polic...|
|  10158|White Men Can't Jump|  1992-03-26|  115.0|     [Comedy, Drama]|Billy Hoyle (Wood...|     null| 90753806|  8.795941|         6.2|       305|[white trash, mal...|
|  10159|         The Rundown|  2003-09-26|  104.0|[Adventure, Actio...|When Travis, the ...| 85000000| 80916492|  8.304835|         6.4|       523|[hunter, bounty, ...|
|  10161|My Left Foot: The...|  1989-07-21|  103.0|             [Drama]|In this true stor...|   645180| 14743391|  5.841931|         7.5|       208|[bodily disabled ...|
|  10163|   The Lawnmower Man|  1992-03-05|  108.0|[Horror, Thriller...|A simple man is t...| 10000000| 32101000|  6.685948|         5.4|       198|[dream, chimp, ma...|
|  10164|        Cadillac Man|  1990-05-18|   97.0|     [Comedy, Drama]|Joe's a car sales...|     null| 27575086|  6.882529|         5.3|        54|[jealousy, car de...|
|  10166|         The Witches|  1990-02-16|   91.0|[Adventure, Fanta...|A young boy named...|     null| 15360553|  8.208991|         6.7|       224|[witch, chocolate...|
| 101669|        Mother's Day|  2010-09-23|  112.0|[Crime, Drama, Ho...|Crazed members of...| 11000000|     null|  5.165083|         6.3|       126|[hostage, vomit, ...|
|  10167|      Half Past Dead|  2002-11-15|   98.0|[Crime, Action, T...|This movie tells ...| 13000000|     null|  8.650691|         4.6|        82|[resistance, unde...|
|  10169|         Men at Work|  1990-08-24|   98.0|     [Comedy, Crime]|Two garbage men f...|     null|     null|  8.339485|         5.5|        99|[vietnam veteran,...|
|  10170|    The Russia House|  1990-12-19|  122.0|[Drama, Action, T...|An expatriate Bri...| 22997992|     null| 10.445117|         6.3|        54|[cia, secret, sov...|
+-------+--------------------+------------+-------+--------------------+--------------------+---------+---------+----------+------------+----------+--------------------+
only showing top 100 rows

In [0]:
tmdb_id = '10096'
matches = index.query(namespace="movies", id=tmdb_id, top_k=10)['matches']
matches = spark.createDataFrame([{"tmdb_id": item["id"], "score": item["score"]} for item in matches])
movies.join(matches, on='tmdb_id', how='inner').sort(f.desc('score')).show()

+-------+--------------------+------------+-------+--------------------+--------------------+--------+---------+----------+------------+----------+--------------------+-----------+
|tmdb_id|               title|release_date|runtime|              genres|            overview|  budget|  revenue|popularity|vote_average|vote_count|            keywords|      score|
+-------+--------------------+------------+-------+--------------------+--------------------+--------+---------+----------+------------+----------+--------------------+-----------+
|  10096|      13 Going on 30|  2004-04-13|   98.0|[Comedy, Fantasy,...|After total humil...|37000000| 96455697| 12.632595|         6.3|      1260|[new york, photog...|        1.0|
|   9919|How to Lose a Guy...|  2003-02-07|  116.0|   [Comedy, Romance]|An advice columni...|50000000|177371441|  5.188107|         6.3|       873|[new york, bet, j...|0.959636867|
|   9779|The Sisterhood of...|  2005-06-01|  119.0|     [Drama, Comedy]|Four best friends...|25000000| 39053061|  9.263965|         6.3|       396|[holiday, female ...|0.954320252|
|  10229|  A Walk to Remember|  2002-01-25|  101.0|    [Drama, Romance]|"When the popular...|11000000| 41227069|  8.054499|         7.5|      1057|[based on novel, ...|0.952181935|
|  10330|       Freaky Friday|  2003-08-03|   97.0|            [Comedy]|Mother and daught...|26000000|110230332|  7.867999|         6.0|       919|[single parent, b...|0.948255539|
|   6557|          27 Dresses|  2008-01-10|  111.0|   [Comedy, Romance]|Altruistic Jane f...|30000000|160259319| 10.342202|         6.1|      1013|[lovesickness, ne...|   0.945344|
|   9880|The Princess Diaries|  2001-08-03|  115.0|[Comedy, Family, ...|A socially awkwar...|37000000|165335153|  7.387171|         6.5|      1063|[heir to the thro...|0.939030766|
|  10735|   What a Girl Wants|  2003-03-27|  105.0|            [Comedy]|An American girl,...|    null|     null|  6.743151|         5.8|       377|[london england, ...|0.934522569|
|  11529|  Sweet Home Alabama|  2002-09-26|  108.0|   [Comedy, Romance]|New York fashion ...|30000000|180622424|  8.587129|         6.1|       408|[new york, marria...|0.933405638|
|  11247|  A Cinderella Story|  2004-07-10|   95.0|            [Comedy]|Sam Montgomery is...|19000000| 70067909|  8.385361|         6.1|       737|[jealousy, cinder...|0.933202863|
+-------+--------------------+------------+-------+--------------------+--------------------+--------+---------+----------+------------+----------+--------------------+-----------+