### Notebook Set-Up

#### Import Required Modules

In [ ]:
# %pip install python-dotenv sqlalchemy duckdb duckdb-engine cloud-sql-python-connector[pg8000]

In [3]:
import os
import csv
import json
# import duckdb

from typing import List, Dict
from dotenv import load_dotenv
from datetime import datetime

import numpy as np
import pandas as pd

# from pyspark.sql import SparkSession
# from pyspark.sql import functions as f
# from pyspark.sql.window import Window

#### Load Secrets

In [7]:
load_dotenv("../.env")

True

#### Get or Create SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()
spark.sparkContext.setLogLevel("error")
spark

#### Set Workflow Constants

In [ ]:
CLEAN_PATH = "dbfs:/FileStore/data/clean"
JSON_PATH = "/dbfs/FileStore/data/json"

### Load the Clean Data

#### Import Clean Movies Data

In [ ]:
movies = spark.read.parquet(os.path.join(CLEAN_PATH, "movies"))
movies.show(1, truncate=False, vertical=True)
movies.printSchema()
movies.count()

-RECORD 0------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 budget        | 4000000
 cast          | [Tim Roth, Jennifer Beals, Antonio Banderas, Valeria Golino, David Proval]
 director      | Allison Anders
 genres        | [Comedy]
 keywords      | [hotel, new year's eve, witch, bet, hotel room, sperm, anthology, los angeles, california, hoodlum, multiple storylines, woman director]
 language      | en
 overview      | It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.
 popularity    | 21.138
 release_date  | 1995-12-09
 revenue       | 4257354
 runtime       | 98
 status        | Released
 title         | Four Rooms
 tmdb_homepage | https://www.themoviedb.org/movie/5
 tmdb_id       | 5
 vote_average  | 5.789
 vote_count    | 2443
only showing top 1 row

root
 |-- budget: long (nullable = true)
 |-- cast: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- director: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- keywords: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- language: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: long (nullable = true)
 |-- runtime: long (nullable = true)
 |-- status: string (nullable = true)
 |-- title: string (nullable = true)
 |-- tmdb_homepage: string (nullable = true)
 |-- tmdb_id: string (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: long (nullable = true)

Out[58]: 2264

#### Import Clean Ratings Data

In [ ]:
ratings = spark.read.parquet(os.path.join(CLEAN_PATH, "ratings"))
ratings.show(5, truncate=False)
ratings.count()

+-------+-------+------+-------------------+
|user_id|tmdb_id|rating|timestamp          |
+-------+-------+------+-------------------+
|304    |1572   |4.0   |1998-03-29 12:12:08|
|469    |2108   |5.0   |2000-08-04 21:46:05|
|247    |98     |4.0   |2016-07-04 14:55:39|
|307    |1592   |4.0   |2007-10-29 13:08:15|
|477    |2048   |3.5   |2008-01-21 18:45:47|
+-------+-------+------+-------------------+
only showing top 5 rows

Out[59]: 81116

### Populate the ApplicationDB Tables

In [ ]:
updated_at = datetime.now()
updated_at

Out[60]: datetime.datetime(2023, 10, 24, 22, 21, 59, 26204)

#### Format the `Users` Table

In [ ]:
users_pandas = ratings \
    .select("user_id") \
    .distinct() \
    .withColumn("email", f.lit("ANONYMOUS@ANONYMOUS.COM")) \
    .withColumn("hashed_password", f.sha2("email", 256)) \
    .withColumn("fname", f.lit("ANONYMOUS")) \
    .withColumn("lname", f.lit("ANONYMOUS")) \
    .withColumn("updated_at", f.lit(updated_at)) \
    .select("user_id", "email", "hashed_password", "fname", "lname", "updated_at") \
    .toPandas()

users_pandas.head()

,user_id,email,hashed_password,fname,lname,updated_at
0,467,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 22:21:59.026204
1,296,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 22:21:59.026204
2,125,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 22:21:59.026204
3,451,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 22:21:59.026204
4,51,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 22:21:59.026204

#### Format the `Movies` Table

In [ ]:
movies_pandas = movies \
    .drop("status") \
    .withColumnRenamed("cast", "actors") \
    .withColumn("updated_at", f.lit(updated_at)) \
    .select(
        "tmdb_id", "tmdb_homepage", "title", "language", "release_date", "runtime", "director", "actors", "genres", 
        "keywords", "overview", "budget", "revenue", "popularity","vote_average", "vote_count", "updated_at"
    ) \
    .toPandas()
movies_pandas.head()

,tmdb_id,tmdb_homepage,title,language,release_date,runtime,director,actors,genres,keywords,overview,budget,revenue,popularity,vote_average,vote_count,updated_at
0,5,https://www.themoviedb.org/movie/5,Four Rooms,en,1995-12-09,98,Allison Anders,"[Tim Roth, Jennifer Beals, Antonio Banderas, V...",[Comedy],"[hotel, new year's eve, witch, bet, hotel room...",It's Ted the Bellhop's first night on the job....,4000000,4257354,21.138,5.789,2443,2023-10-24 22:21:59.026204
1,11,https://www.themoviedb.org/movie/11,Star Wars,en,1977-05-25,121,George Lucas,"[Mark Hamill, Harrison Ford, Carrie Fisher, Pe...","[Adventure, Action, Science Fiction]","[android, galaxy, hermit, smuggling (contraban...",Princess Leia is captured and held hostage by ...,11000000,775398007,88.613,8.204,19236,2023-10-24 22:21:59.026204
2,12,https://www.themoviedb.org/movie/12,Finding Nemo,en,2003-05-30,100,Andrew Stanton,"[Albert Brooks, Ellen DeGeneres, Alexander Gou...","[Animation, Family]","[parent child relationship, sydney, australia,...","Nemo, an adventurous young clownfish, is unexp...",94000000,940335536,92.459,7.824,18132,2023-10-24 22:21:59.026204
3,13,https://www.themoviedb.org/movie/13,Forrest Gump,en,1994-06-23,142,Robert Zemeckis,"[Tom Hanks, Robin Wright, Gary Sinise, Sally F...","[Comedy, Drama, Romance]","[vietnam veteran, post-traumatic stress disord...",A man with a low IQ has accomplished great thi...,55000000,677387716,84.723,8.477,25544,2023-10-24 22:21:59.026204
4,14,https://www.themoviedb.org/movie/14,American Beauty,en,1999-09-15,122,Sam Mendes,"[Kevin Spacey, Annette Bening, Thora Birch, We...",[Drama],"[adultery, age difference, parent child relati...","Lester Burnham, a depressed suburban father in...",15000000,356296601,35.477,8.021,11317,2023-10-24 22:21:59.026204

#### Format the `Ratings` Table

In [ ]:
ratings_pandas = ratings.drop('timestamp').withColumn("updated_at", f.lit(updated_at)).toPandas()
ratings_pandas.head()

,user_id,tmdb_id,rating,updated_at
0,304,1572,4.0,2023-10-24 22:21:59.026204
1,469,2108,5.0,2023-10-24 22:21:59.026204
2,247,98,4.0,2023-10-24 22:21:59.026204
3,307,1592,4.0,2023-10-24 22:21:59.026204
4,477,2048,3.5,2023-10-24 22:21:59.026204

#### Save the Formatted Data as JSONLines

In [ ]:
users_pandas.to_json(os.path.join(JSON_PATH, "users.json"), orient="records", lines=True, date_format="iso")

In [ ]:
movies_pandas.to_json(os.path.join(JSON_PATH, "movies.json"), orient="records", lines=True, date_format="iso")

In [ ]:
ratings_pandas.to_json(os.path.join(JSON_PATH, "ratings.json"), orient="records", lines=True, date_format="iso")

#### Read the Formatted Data as JSONLines

In [ ]:
users = pd.read_json(os.path.join(JSON_PATH, "users.json"), orient="records", lines=True)
users.head()

,user_id,email,hashed_password,fname,lname,updated_at
0,467,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 22:21:59.026000+00:00
1,296,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 22:21:59.026000+00:00
2,125,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 22:21:59.026000+00:00
3,451,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 22:21:59.026000+00:00
4,51,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 22:21:59.026000+00:00

In [ ]:
movies = pd.read_json(os.path.join(JSON_PATH, "movies.json"), orient="records", lines=True)
movies.head()

,tmdb_id,tmdb_homepage,title,language,release_date,runtime,director,actors,genres,keywords,overview,budget,revenue,popularity,vote_average,vote_count,updated_at
0,5,https://www.themoviedb.org/movie/5,Four Rooms,en,1995-12-09,98,Allison Anders,"[Tim Roth, Jennifer Beals, Antonio Banderas, V...",[Comedy],"[hotel, new year's eve, witch, bet, hotel room...",It's Ted the Bellhop's first night on the job....,4000000,4257354,21.138,5.789,2443,2023-10-24 22:21:59.026000+00:00
1,11,https://www.themoviedb.org/movie/11,Star Wars,en,1977-05-25,121,George Lucas,"[Mark Hamill, Harrison Ford, Carrie Fisher, Pe...","[Adventure, Action, Science Fiction]","[android, galaxy, hermit, smuggling (contraban...",Princess Leia is captured and held hostage by ...,11000000,775398007,88.613,8.204,19236,2023-10-24 22:21:59.026000+00:00
2,12,https://www.themoviedb.org/movie/12,Finding Nemo,en,2003-05-30,100,Andrew Stanton,"[Albert Brooks, Ellen DeGeneres, Alexander Gou...","[Animation, Family]","[parent child relationship, sydney, australia,...","Nemo, an adventurous young clownfish, is unexp...",94000000,940335536,92.459,7.824,18132,2023-10-24 22:21:59.026000+00:00
3,13,https://www.themoviedb.org/movie/13,Forrest Gump,en,1994-06-23,142,Robert Zemeckis,"[Tom Hanks, Robin Wright, Gary Sinise, Sally F...","[Comedy, Drama, Romance]","[vietnam veteran, post-traumatic stress disord...",A man with a low IQ has accomplished great thi...,55000000,677387716,84.723,8.477,25544,2023-10-24 22:21:59.026000+00:00
4,14,https://www.themoviedb.org/movie/14,American Beauty,en,1999-09-15,122,Sam Mendes,"[Kevin Spacey, Annette Bening, Thora Birch, We...",[Drama],"[adultery, age difference, parent child relati...","Lester Burnham, a depressed suburban father in...",15000000,356296601,35.477,8.021,11317,2023-10-24 22:21:59.026000+00:00

In [ ]:
ratings = pd.read_json(os.path.join(JSON_PATH, "ratings.json"), orient="records", lines=True)
ratings.head()

,user_id,tmdb_id,rating,updated_at
0,304,1572,4.0,2023-10-24 22:21:59.026000+00:00
1,469,2108,5.0,2023-10-24 22:21:59.026000+00:00
2,247,98,4.0,2023-10-24 22:21:59.026000+00:00
3,307,1592,4.0,2023-10-24 22:21:59.026000+00:00
4,477,2048,3.5,2023-10-24 22:21:59.026000+00:00

#### Create a DB Engine for SQLAlchemy Insertion

In [ ]:
# FIXME

#### Insert Into the Database

In [ ]:
# users.to_sql(name="users", con=engine, index=False, if_exists="append", chunksize=1000, method="multi")

In [ ]:
# movies.to_sql(name="movies", con=engine, index=False, if_exists="append", chunksize=1000, method="multi")

In [ ]:
# ratings.to_sql(name="ratings", con=engine, index=False, if_exists="append", chunksize=1000, method="multi")

In [5]:
from sqlalchemy import insert, select, update, delete
from app import database

ModuleNotFoundError: No module named 'app'

In [ ]:
with engine.begin() as cnx:
    for m, movie in enumerate(movies.to_dict(orient="records")):
        try:
            cnx.execute(insert(database.movies).values(**movie))
        except DatabaseError:
            print(f"error with tmdb_id={movie['tmdb_id']}")
        if m % 10 == 0:
            print(f"iteration={m} tmdb_id={movie['tmdb_id']}")

### Start Sandbox Code

In [10]:
import os

from argparse import ArgumentParser
from sqlalchemy import MetaData, Table, Column, PrimaryKeyConstraint, Engine, create_engine, text
from sqlalchemy.types import ARRAY, BIGINT, Date, DateTime, Double, Integer, Text
from google.cloud.sql.connector import Connector
from dotenv import load_dotenv
from pg8000 import Connection


load_dotenv()


def make_connection() -> Connection:
    """generate a new pg8000 connection for a CloudSQL instance"""

    project = "robot-ebert"
    region = "us-west1"
    instance = "robot-ebert"
    instance_connection_string = f"{project}:{region}:{instance}"

    connector = Connector()
    cnx = connector.connect(
        instance_connection_string=instance_connection_string,
        driver="pg8000",
        user="postgres",
        password=os.environ["POSTGRES_PASSWORD"],
        db="app"
    )
    return cnx


def get_prod_engine(echo: bool = False) -> Engine:
    """get a new SQLAlchemy Engine to manage DB connections to the application CloudSQL database"""

    engine = create_engine("postgresql+pg8000://", creator=make_connection, echo=echo)
    return engine

In [9]:
engine = get_prod_engine(echo=True)

In [15]:
with engine.begin() as cnx:
    statement = text("SELECT * FROM movies LIMIT 10")
    movies = [row._asdict() for row in cnx.execute(statement).all()]

2023-12-24 17:05:01,051 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-24 17:05:01,057 INFO sqlalchemy.engine.Engine SELECT * FROM movies LIMIT 10
2023-12-24 17:05:01,059 INFO sqlalchemy.engine.Engine [cached since 147.8s ago] ()
2023-12-24 17:05:01,269 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
movies

[{'tmdb_id': '5',
  'tmdb_homepage': 'https://www.themoviedb.org/movie/5',
  'title': 'Four Rooms',
  'language': 'en',
  'release_date': datetime.date(1995, 12, 9),
  'runtime': 98,
  'director': 'Allison Anders',
  'actors': ['Tim Roth',
   'Jennifer Beals',
   'Antonio Banderas',
   'Valeria Golino',
   'David Proval'],
  'genres': ['Comedy'],
  'keywords': ['hotel',
   "new year's eve",
   'witch',
   'bet',
   'hotel room',
   'sperm',
   'anthology',
   'los angeles, california',
   'hoodlum',
   'multiple storylines',
   'woman director'],
  'overview': "It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.",
  'budget': 4000000,
  'revenue': 4257354,
  'popularity': 21.138,
  'vote_average': 5.789,
  'vote_count': 2443,
  'updated_at': datetime.datetime(2023, 10, 24, 21, 38, 29, 594000)},
 {'tmdb_id': '11',
  'tmdb_homepage': 'https://www.themoviedb.org/movie/11',
  'title': 'Star Wars',
  'language': 'en',
  'release_date': datetime.date(1977, 5, 25),
  'runtime': 121,
  'director': 'George Lucas',
  'actors': ['Mark Hamill',
   'Harrison Ford',
   'Carrie Fisher',
   'Peter Cushing',
   'Alec Guinness'],
  'genres': ['Adventure', 'Action', 'Science Fiction'],
  'keywords': ['android',
   'galaxy',
   'hermit',
   'smuggling (contraband)',
   'superhero',
   'space',
   'rescue mission',
   'empire',
   'rebellion',
   'planet',
   'desert',
   'super power',
   'space opera',
   'wizard',
   'totalitarianism'],
  'overview': 'Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.',
  'budget': 11000000,
  'revenue': 775398007,
  'popularity': 88.613,
  'vote_average': 8.204,
  'vote_count': 19236,
  'updated_at': datetime.datetime(2023, 10, 24, 21, 38, 29, 594000)},
 {'tmdb_id': '12',
  'tmdb_homepage': 'https://www.themoviedb.org/movie/12',
  'title': 'Finding Nemo',
  'language': 'en',
  'release_date': datetime.date(2003, 5, 30),
  'runtime': 100,
  'director': 'Andrew Stanton',
  'actors': ['Albert Brooks',
   'Ellen DeGeneres',
   'Alexander Gould',
   'Willem Dafoe',
   'Geoffrey Rush'],
  'genres': ['Animation', 'Family'],
  'keywords': ['parent child relationship',
   'sydney, australia',
   'harbor',
   'anthropomorphism',
   'underwater',
   'shark',
   'pelican',
   'fish tank',
   'great barrier reef',
   'sea turtle',
   'missing child',
   'aftercreditsstinger',
   'duringcreditsstinger',
   'short term memory loss',
   'clownfish',
   'father son reunion',
   'protective father'],
  'overview': "Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist's office aquarium. It's up to his worrisome father Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.",
  'budget': 94000000,
  'revenue': 940335536,
  'popularity': 92.459,
  'vote_average': 7.824,
  'vote_count': 18132,
  'updated_at': datetime.datetime(2023, 10, 24, 21, 38, 29, 594000)},
 {'tmdb_id': '13',
  'tmdb_homepage': 'https://www.themoviedb.org/movie/13',
  'title': 'Forrest Gump',
  'language': 'en',
  'release_date': datetime.date(1994, 6, 23),
  'runtime': 142,
  'director': 'Robert Zemeckis',
  'actors': ['Tom Hanks',
   'Robin Wright',
   'Gary Sinise',
   'Sally Field',
   'Mykelti Williamson'],
  'genres': ['Comedy', 'Drama', 'Romance'],
  'keywords': ['vietnam veteran',
   'post-traumatic stress disorder (ptsd)',
   'hippie',
   'china',
   'washington dc, usa',
   'single parent',
   'mentally disabled',
   'based on novel or book',
   'waitress',
   'usa president',
   'optimism',
   'parent child relationship',
   '1970s',
   'autism',
   'drug addiction',
   'alabama',
   'vietnam war',
   'black panther party',
   'bus stop',
   'friendship',
   'family relationships',
   'single mother',
   'military',
   'anti war protest',
   '1960s',
   'college american football',
   'mother son relationship'],
  'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic eventsin each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
  'budget': 55000000,
  'revenue': 677387716,
  'popularity': 84.723,
  'vote_average': 8.477,
  'vote_count': 25544,
  'updated_at': datetime.datetime(2023, 10, 24, 21, 38, 29, 594000)},
 {'tmdb_id': '14',
  'tmdb_homepage': 'https://www.themoviedb.org/movie/14',
  'title': 'American Beauty',
  'language': 'en',
  'release_date': datetime.date(1999, 9, 15),
  'runtime': 122,
  'director': 'Sam Mendes',
  'actors': ['Kevin Spacey',
   'Annette Bening',
   'Thora Birch',
   'Wes Bentley',
   'Mena Suvari'],
  'genres': ['Drama'],
  'keywords': ['adultery',
   'age difference',
   'parent child relationship',
   'cheating',
   'midlife crisis',
   'coming out',
   'first time',
   'virgin',
   'estate agent',
   'cheerleader',
   'rose',
   'satire',
   'sexual fantasy',
   'loneliness',
   'dysfunctional family',
   'dysfunctional marriage',
   'dark comedy',
   'suburbia',
   'coming of age',
   'marijuana',
   'love affair',
   'exercise',
   'extramarital affair',
   'realtor',
   'quitting a job',
   'voyeur',
   'neighborhood',
   'retired army man',
   'closeted homosexual',
   'singing in a car',
   'gay theme',
   'teenager',
   'camcorder'],
  'overview': "Lester Burnham, a depressed suburban father in a mid-life crisis, decides to turn his hectic life around after developing an infatuation with his daughter's attractive friend.",
  'budget': 15000000,
  'revenue': 356296601,
  'popularity': 35.477,
  'vote_average': 8.021,
  'vote_count': 11317,
  'updated_at': datetime.datetime(2023, 10, 24, 21, 38, 29, 594000)},
 {'tmdb_id': '15',
  'tmdb_homepage': 'https://www.themoviedb.org/movie/15',
  'title': 'Citizen Kane',
  'language': 'en',
  'release_date': datetime.date(1941, 4, 17),
  'runtime': 119,
  'director': 'Orson Welles',
  'actors': ['Orson Welles',
   'Joseph Cotten',
   'Dorothy Comingore',
   'Ray Collins',
   'George Coulouris'],
  'genres': ['Mystery', 'Drama'],
  'keywords': ['journalist',
   'newspaper',
   'florida',
   'capitalist',
   'american dream',
   'banker',
   'media tycoon',
   'art collector',
   'sleigh',
   'failure',
   'money',
   'black and white',
   'snowglobes',
   'child',
   'rosebud',
   'last word'],
  'overview': 'Newspaper magnate, Charles Foster Kane is taken from his mother as a boy and made the ward of a rich industrialist. As a result, every well-meaning, tyrannical or self-destructive move he makes for the rest of his life appears in some way to be a reaction to that deeply wounding event.',
  'budget': 839727,
  'revenue': 23218000,
  'popularity': 29.025,
  'vote_average': 8.0,
  'vote_count': 5069,
  'updated_at': datetime.datetime(2023, 10, 24, 21, 38, 29, 594000)},
 {'tmdb_id': '16',
  'tmdb_homepage': 'https://www.themoviedb.org/movie/16',
  'title': 'Dancer in the Dark',
  'language': 'en',
  'release_date': datetime.date(2000, 6, 30),
  'runtime': 141,
  'director': 'Lars von Trier',
  'actors': ['Bjrk',
   'Catherine Deneuve',
   'David Morse',
   'Peter Stormare',
   'Joel Grey'],
  'genres': ['Drama', 'Crime'],
  'keywords': ['individual',
   'dancing',
   'robbery',
   'factory worker',
   'small town',
   'blindness and impaired vision',
   'immigrant',
   'eye operation',
   'naivety',
   'hereditary disease',
   'dying and death',
   'musical',
   'debt',
   'police officer'],
  'overview': "Selma, a Czech immigrant on the verge of blindness, struggles to make ends meet for herself and her son, who has inherited the same genetic disorder and will suffer the same fate without an expensive operation. When life gets too difficult, Selma learns to cope through her love of musicals, escaping life's troubles - even if just for a moment - by dreaming up little numbers to the rhythmic beats of her surroundings.",
  'budget': 12800000,
  'revenue': 40031879,
  'popularity': 17.399,
  'vote_average': 7.871,
  'vote_count': 1626,
  'updated_at': datetime.datetime(2023, 10, 24, 21, 38, 29, 594000)},
 {'tmdb_id': '703',
  'tmdb_homepage': 'https://www.themoviedb.org/movie/703',
  'title': 'Annie Hall',
  'language': 'en',
  'release_date': datetime.date(1977, 4, 19),
  'runtime': 93,
  'director': 'Woody Allen',
  'actors': ['Woody Allen',
   'Diane Keaton',
   'Tony Roberts',
   'Carol Kane',
   'Paul Simon'],
  'genres': ['Comedy', 'Drama', 'Romance'],
  'keywords': ['new york city',
   'tennis',
   'cocaine',
   'narration',
   'neurosis',
   'comedian',
   'job interview',
   'sports',
   'love',
   'romantic comedy',
   'singer',
   'breaking the fourth wall',
   'volkswagen beetle',
   'lobster'],
  'overview': 'New York comedian Alvy Singer falls in love with the ditsy Annie Hall.',
  'budget': 4000000,
  'revenue': 38288028,
  'popularity': 18.34,
  'vote_average': 7.752,
  'vote_count': 3573,
  'updated_at': datetime.datetime(2023, 10, 24, 21, 38, 29, 594000)},
 {'tmdb_id': '18',
  'tmdb_homepage': 'https://www.themoviedb.org/movie/18',
  'title': 'The Fifth Element',
  'language': 'en',
  'release_date': datetime.date(1997, 5, 2),
  'runtime': 126,
  'director': 'Luc Besson',
  'actors': ['Bruce Willis',
   'Milla Jovovich',
   'Gary Oldman',
   'Ian Holm',
   'Chris Tucker'],
  'genres': ['Adventure', 'Fantasy', 'Action', 'Thriller', 'Science Fiction'],
  'keywords': ['saving the world',
   'new york city',
   'flying car',
   'taxi',
   'cyborg',
   'egypt',
   'anti hero',
   'stowaway',
   'space travel',
   'dystopia',
   'race against time',
   'alien life-form',
   'arms dealer',
   'priest',
   'end of the world',
   'shootout',
   'police chase',
   'cab driver',
   'cyberpunk',
   'archaeologist',
   'space opera',
   'military',
   'opera singer',
   'futuristic city',
   'ancient evil',
   'cruise liner',
   'elemental',
   'hieroglyphics',
   'spaceship',
   'good versus evil',
   'alien robot'],
  'overview': 'In 2257, a taxi driver is unintentionally given the task of saving a young girl who is part of the key that will ensure the survival of humanity.',
  'budget': 90000000,
  'revenue': 263920180,
  'popularity': 61.551,
  'vote_average': 7.532,
  'vote_count': 9997,
  'updated_at': datetime.datetime(2023, 10, 24, 21, 38, 29, 594000)},
 {'tmdb_id': '19',
  'tmdb_homepage': 'https://www.themoviedb.org/movie/19',
  'title': 'Metropolis',
  'language': 'de',
  'release_date': datetime.date(1927, 2, 6),
  'runtime': 149,
  'director': 'Fritz Lang',
  'actors': ['Gustav Frhlich',
   'Brigitte Helm',
   'Alfred Abel',
   'Rudolf Klein-Rogge',
   'Theodor Loos'],
  'genres': ['Drama', 'Science Fiction'],
  'keywords': ['man vs machine',
   'based on novel or book',
   'underground world',
   'inventor',
   'metropolis',
   'future',
   'class society',
   'dystopia',
   'tower of babel',
   'delirium',
   'steampunk',
   'mad scientist',
   'grim reaper',
   'prophet',
   'robot',
   'destruction',
   'silent film',
   'expressionism',
   'seven deadly sins',
   'depravity',
   'mob justice',
   'downtrodden',
   'saviour',
   'social unrest',
   'german expressionism',
   'mediator'],
  'overview': "In a futuristic city sharply divided between the rich and the poor, the son of the city's mastermind meets a prophet who predicts the coming of a savior to mediate their differences.",
  'budget': 1300000,
  'revenue': 650422,
  'popularity': 22.184,
  'vote_average': 8.152,
  'vote_count': 2445,
  'updated_at': datetime.datetime(2023, 10, 24, 21, 38, 29, 594000)}]