### Notebook Set-Up

#### Import Required Modules

In [ ]:
# %pip install sqlalchemy duckdb duckdb-engine cloud-sql-python-connector[pg8000]

In [1]:
import os
import sys
import csv
import json
import duckdb

from typing import List, Dict
from dotenv import load_dotenv
from datetime import datetime

import numpy as np
import pandas as pd

# from pyspark.sql import SparkSession
# from pyspark.sql import functions as f
# from pyspark.sql.window import Window

#### Load Secrets as Environment Variables

In [2]:
load_dotenv()

True

#### Set Workflow Constants

In [3]:
RAW_PATH = "dbfs:/FileStore/data/raw"
CLN_PATH = "dbfs:/FileStore/data/clean"
JSON_PATH = "../data/json"

### Load Static Data into the Application Database

#### Import Static Data in JSONLines Format

In [4]:
users = pd.read_json(os.path.join(JSON_PATH, "users.json"), orient="records", lines=True)
users.head()

,user_id,email,hashed_password,fname,lname,updated_at
0,467,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 21:38:29.594000+00:00
1,296,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 21:38:29.594000+00:00
2,125,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 21:38:29.594000+00:00
3,451,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 21:38:29.594000+00:00
4,51,ANONYMOUS@ANONYMOUS.COM,37dac418e085726bf77f285c48558dcf9b3486ed184386...,ANONYMOUS,ANONYMOUS,2023-10-24 21:38:29.594000+00:00

In [5]:
movies = pd.read_json(os.path.join(JSON_PATH, "movies.json"), orient="records", lines=True)
movies.head()

,tmdb_id,tmdb_homepage,title,language,release_date,runtime,director,actors,genres,keywords,overview,budget,revenue,popularity,vote_average,vote_count,updated_at
0,5,https://www.themoviedb.org/movie/5,Four Rooms,en,1995-12-09,98,Allison Anders,"[Tim Roth, Jennifer Beals, Antonio Banderas, V...",[Comedy],"[hotel, new year's eve, witch, bet, hotel room...",It's Ted the Bellhop's first night on the job....,4000000,4257354,21.138,5.789,2443,2023-10-24 21:38:29.594000+00:00
1,11,https://www.themoviedb.org/movie/11,Star Wars,en,1977-05-25,121,George Lucas,"[Mark Hamill, Harrison Ford, Carrie Fisher, Pe...","[Adventure, Action, Science Fiction]","[android, galaxy, hermit, smuggling (contraban...",Princess Leia is captured and held hostage by ...,11000000,775398007,88.613,8.204,19236,2023-10-24 21:38:29.594000+00:00
2,12,https://www.themoviedb.org/movie/12,Finding Nemo,en,2003-05-30,100,Andrew Stanton,"[Albert Brooks, Ellen DeGeneres, Alexander Gou...","[Animation, Family]","[parent child relationship, sydney, australia,...","Nemo, an adventurous young clownfish, is unexp...",94000000,940335536,92.459,7.824,18132,2023-10-24 21:38:29.594000+00:00
3,13,https://www.themoviedb.org/movie/13,Forrest Gump,en,1994-06-23,142,Robert Zemeckis,"[Tom Hanks, Robin Wright, Gary Sinise, Sally F...","[Comedy, Drama, Romance]","[vietnam veteran, post-traumatic stress disord...",A man with a low IQ has accomplished great thi...,55000000,677387716,84.723,8.477,25544,2023-10-24 21:38:29.594000+00:00
4,14,https://www.themoviedb.org/movie/14,American Beauty,en,1999-09-15,122,Sam Mendes,"[Kevin Spacey, Annette Bening, Thora Birch, We...",[Drama],"[adultery, age difference, parent child relati...","Lester Burnham, a depressed suburban father in...",15000000,356296601,35.477,8.021,11317,2023-10-24 21:38:29.594000+00:00

In [6]:
ratings = pd.read_json(os.path.join(JSON_PATH, "ratings.json"), orient="records", lines=True)
ratings.head()

   user_id  tmdb_id  rating                       updated_at
0      304     1572     4.0 2023-10-24 21:38:29.594000+00:00
1      469     2108     5.0 2023-10-24 21:38:29.594000+00:00
2      247       98     4.0 2023-10-24 21:38:29.594000+00:00
3      307     1592     4.0 2023-10-24 21:38:29.594000+00:00
4      477     2048     3.5 2023-10-24 21:38:29.594000+00:00

#### Create a SQLAlchemy Database Engine

In [9]:
import os
from sqlalchemy import create_engine, Engine
from google.cloud.sql.connector import Connector
from dotenv import load_dotenv
from pg8000 import Connection
from pg8000 import DatabaseError

In [10]:
def make_connection() -> Connection:
    """generate a new pg8000 connection for a CloudSQL instance"""

    project = "robot-ebert"
    region = "us-west1"
    instance = "robot-ebert"
    instance_connection_string = f"{project}:{region}:{instance}"

    connector = Connector()
    cnx = connector.connect(
        instance_connection_string=instance_connection_string,
        driver="pg8000",
        user="postgres",
        password=os.environ["POSTGRES_PASSWORD"],
        db="app"
    )
    return cnx


def get_prod_engine(echo: bool = False) -> Engine:
    """get a new SQLAlchemy Engine to manage DB connections to the application CloudSQL database"""

    engine = create_engine("postgresql+pg8000://", creator=make_connection, echo=echo)
    return engine


def get_test_engine(echo: bool = False) -> Engine:
    """get a new SQLAlchemy Engine to manage DB connections to a local test DuckDB database"""

    engine = create_engine("duckdb:///database.duckdb", echo=echo)
    return engine

In [11]:
engine = get_prod_engine(echo=False)
engine

Engine(postgresql+pg8000://)

#### Insert Static Data into the Application Database

In [12]:
users.to_sql(name="users", con=engine, index=False, if_exists="append", chunksize=1000, method="multi")

610

In [21]:
# movies.to_sql(name="movies", con=engine, index=False, if_exists="append", chunksize=1000, method="multi")

In [14]:
ratings.to_sql(name="ratings", con=engine, index=False, if_exists="append", chunksize=1000, method="multi")

81116

#### Insert Static Data Using SQLAlchemy

In [15]:
movies.to_dict(orient="records")[0]

{'tmdb_id': 5,
 'tmdb_homepage': 'https://www.themoviedb.org/movie/5',
 'title': 'Four Rooms',
 'language': 'en',
 'release_date': '1995-12-09',
 'runtime': 98,
 'director': 'Allison Anders',
 'actors': ['Tim Roth',
  'Jennifer Beals',
  'Antonio Banderas',
  'Valeria Golino',
  'David Proval'],
 'genres': ['Comedy'],
 'keywords': ['hotel',
  "new year's eve",
  'witch',
  'bet',
  'hotel room',
  'sperm',
  'anthology',
  'los angeles, california',
  'hoodlum',
  'multiple storylines',
  'woman director'],
 'overview': "It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.",
 'budget': 4000000,
 'revenue': 4257354,
 'popularity': 21.138,
 'vote_average': 5.789,
 'vote_count': 2443,
 'updated_at': Timestamp('2023-10-24 21:38:29.594000+0000', tz='UTC')}

In [16]:
sys.path.append("..")

In [17]:
from sqlalchemy import insert, select, update, delete
from app import database

In [22]:
with engine.begin() as cnx:
    for m, movie in enumerate(movies.to_dict(orient="records")):
        try:
            cnx.execute(insert(database.movies).values(**movie))
        except DatabaseError:
            print(f"error with tmdb_id={movie['tmdb_id']}")
        if m % 10 == 0:
            print(f"iteration={m} tmdb_id={movie['tmdb_id']}")

iteration=0 tmdb_id=5
iteration=10 tmdb_id=24
iteration=20 tmdb_id=63
iteration=30 tmdb_id=75
iteration=40 tmdb_id=88
iteration=50 tmdb_id=103
iteration=60 tmdb_id=114
iteration=70 tmdb_id=129
iteration=80 tmdb_id=150
iteration=90 tmdb_id=165
iteration=100 tmdb_id=177
iteration=110 tmdb_id=196
iteration=120 tmdb_id=215
iteration=130 tmdb_id=238
iteration=140 tmdb_id=252
iteration=150 tmdb_id=278
iteration=160 tmdb_id=293
iteration=170 tmdb_id=310
iteration=180 tmdb_id=334
iteration=190 tmdb_id=378
iteration=200 tmdb_id=395
iteration=210 tmdb_id=409
iteration=220 tmdb_id=429
iteration=230 tmdb_id=473
iteration=240 tmdb_id=497
iteration=250 tmdb_id=526
iteration=260 tmdb_id=548
iteration=270 tmdb_id=564
iteration=280 tmdb_id=581
iteration=290 tmdb_id=592
iteration=300 tmdb_id=603
iteration=310 tmdb_id=616
iteration=320 tmdb_id=628
iteration=330 tmdb_id=643
iteration=340 tmdb_id=657
iteration=350 tmdb_id=673
iteration=360 tmdb_id=688
iteration=370 tmdb_id=703
iteration=380 tmdb_id=714
iteration=390 tmdb_id=763
iteration=400 tmdb_id=773
iteration=410 tmdb_id=796
iteration=420 tmdb_id=814
iteration=430 tmdb_id=830
iteration=440 tmdb_id=850
iteration=450 tmdb_id=862
iteration=460 tmdb_id=879
iteration=470 tmdb_id=903
iteration=480 tmdb_id=924
iteration=490 tmdb_id=942
iteration=500 tmdb_id=955
iteration=510 tmdb_id=982
iteration=520 tmdb_id=1073
iteration=530 tmdb_id=1213
iteration=540 tmdb_id=1281
iteration=550 tmdb_id=1372
iteration=560 tmdb_id=1417
iteration=570 tmdb_id=1491
iteration=580 tmdb_id=1542
iteration=590 tmdb_id=1574
iteration=600 tmdb_id=1587
iteration=610 tmdb_id=1630
iteration=620 tmdb_id=1645
iteration=630 tmdb_id=1685
iteration=640 tmdb_id=1724
iteration=650 tmdb_id=1781
iteration=660 tmdb_id=1850
iteration=670 tmdb_id=1891
iteration=680 tmdb_id=1907
iteration=690 tmdb_id=1946
iteration=700 tmdb_id=1985
iteration=710 tmdb_id=2020
iteration=720 tmdb_id=2046
iteration=730 tmdb_id=2074
iteration=740 tmdb_id=2114
iteration=750 tmdb_id=2164
iteration=760 tmdb_id=2288
iteration=770 tmdb_id=2322
iteration=780 tmdb_id=2503
iteration=790 tmdb_id=2636
iteration=800 tmdb_id=2667
iteration=810 tmdb_id=2758
iteration=820 tmdb_id=2898
iteration=830 tmdb_id=3034
iteration=840 tmdb_id=3085
iteration=850 tmdb_id=3509
iteration=860 tmdb_id=3600
iteration=870 tmdb_id=4133
iteration=880 tmdb_id=4256
iteration=890 tmdb_id=4476
iteration=900 tmdb_id=4547
iteration=910 tmdb_id=4808
iteration=920 tmdb_id=4954
iteration=930 tmdb_id=5143
iteration=940 tmdb_id=5528
iteration=950 tmdb_id=5851
iteration=960 tmdb_id=6068
iteration=970 tmdb_id=6282
iteration=980 tmdb_id=6557
iteration=990 tmdb_id=6964
iteration=1000 tmdb_id=7300
iteration=1010 tmdb_id=7451
iteration=1020 tmdb_id=7553
iteration=1030 tmdb_id=8051
iteration=1040 tmdb_id=8197
iteration=1050 tmdb_id=8346
iteration=1060 tmdb_id=8393
iteration=1070 tmdb_id=8512
iteration=1080 tmdb_id=8698
iteration=1090 tmdb_id=8834
iteration=1100 tmdb_id=8856
iteration=1110 tmdb_id=8914
iteration=1120 tmdb_id=8989
iteration=1130 tmdb_id=9061
iteration=1140 tmdb_id=9090
iteration=1150 tmdb_id=9267
iteration=1160 tmdb_id=9283
iteration=1170 tmdb_id=9312
iteration=1180 tmdb_id=9327
iteration=1190 tmdb_id=9346
iteration=1200 tmdb_id=9359
iteration=1210 tmdb_id=9382
iteration=1220 tmdb_id=9398
iteration=1230 tmdb_id=9427
iteration=1240 tmdb_id=9443
iteration=1250 tmdb_id=9465
iteration=1260 tmdb_id=9481
iteration=1270 tmdb_id=9504
iteration=1280 tmdb_id=9536
iteration=1290 tmdb_id=9576
iteration=1300 tmdb_id=9606
iteration=1310 tmdb_id=9623
iteration=1320 tmdb_id=9671
iteration=1330 tmdb_id=9718
iteration=1340 tmdb_id=9778
iteration=1350 tmdb_id=9816
iteration=1360 tmdb_id=9870
iteration=1370 tmdb_id=9894
iteration=1380 tmdb_id=9946
iteration=1390 tmdb_id=10029
iteration=1400 tmdb_id=10122
iteration=1410 tmdb_id=10152
iteration=1420 tmdb_id=10184
iteration=1430 tmdb_id=10215
iteration=1440 tmdb_id=10280
iteration=1450 tmdb_id=10329
iteration=1460 tmdb_id=10388
iteration=1470 tmdb_id=10414
iteration=1480 tmdb_id=10451
iteration=1490 tmdb_id=10501
iteration=1500 tmdb_id=10535
iteration=1510 tmdb_id=10559
iteration=1520 tmdb_id=10625
iteration=1530 tmdb_id=10661
iteration=1540 tmdb_id=10705
iteration=1550 tmdb_id=10764
iteration=1560 tmdb_id=10806
iteration=1570 tmdb_id=10873
iteration=1580 tmdb_id=10948
iteration=1590 tmdb_id=11005
iteration=1600 tmdb_id=11040
iteration=1610 tmdb_id=11086
iteration=1620 tmdb_id=11176
iteration=1630 tmdb_id=11239
iteration=1640 tmdb_id=11314
iteration=1650 tmdb_id=11355
iteration=1660 tmdb_id=11381
iteration=1670 tmdb_id=11426
iteration=1680 tmdb_id=11478
iteration=1690 tmdb_id=11527
iteration=1700 tmdb_id=11562
iteration=1710 tmdb_id=11597
iteration=1720 tmdb_id=11663
iteration=1730 tmdb_id=11770
iteration=1740 tmdb_id=11812
iteration=1750 tmdb_id=11843
iteration=1760 tmdb_id=11878
iteration=1770 tmdb_id=11967
iteration=1780 tmdb_id=11979
iteration=1790 tmdb_id=12110
iteration=1800 tmdb_id=12155
iteration=1810 tmdb_id=12230
iteration=1820 tmdb_id=12498
iteration=1830 tmdb_id=12665
iteration=1840 tmdb_id=13203
iteration=1850 tmdb_id=13466
iteration=1860 tmdb_id=13776
iteration=1870 tmdb_id=14069
iteration=1880 tmdb_id=14292
iteration=1890 tmdb_id=14534
iteration=1900 tmdb_id=15037
iteration=1910 tmdb_id=15596
iteration=1920 tmdb_id=16320
iteration=1930 tmdb_id=16619
iteration=1940 tmdb_id=17654
iteration=1950 tmdb_id=18402
iteration=1960 tmdb_id=19186
iteration=1970 tmdb_id=20306
iteration=1980 tmdb_id=22538
iteration=1990 tmdb_id=23629
iteration=2000 tmdb_id=26141
iteration=2010 tmdb_id=30197
iteration=2020 tmdb_id=36355
iteration=2030 tmdb_id=36669
iteration=2040 tmdb_id=37233
iteration=2050 tmdb_id=38356
iteration=2060 tmdb_id=41154
iteration=2070 tmdb_id=44912
iteration=2080 tmdb_id=49049
iteration=2090 tmdb_id=50348
iteration=2100 tmdb_id=55931
iteration=2110 tmdb_id=61791
iteration=2120 tmdb_id=68718
iteration=2130 tmdb_id=74643
iteration=2140 tmdb_id=76493
iteration=2150 tmdb_id=83542
iteration=2160 tmdb_id=100402
iteration=2170 tmdb_id=109443
iteration=2180 tmdb_id=122917
iteration=2190 tmdb_id=140607
iteration=2200 tmdb_id=181808
iteration=2210 tmdb_id=205596
iteration=2220 tmdb_id=238713
iteration=2230 tmdb_id=264660
iteration=2240 tmdb_id=281957
iteration=2250 tmdb_id=297762
iteration=2260 tmdb_id=381284

### Test Out Query Functionality Using SQLAlchemy

In [71]:
from sqlalchemy import text

In [93]:
%time

with engine.connect() as cnx:
    result = cnx.execute(text("SELECT * FROM ratings WHERE user_id = '1'"))
    for row in result:
        print(row)

CPU times: user 5 µs, sys: 2 µs, total: 7 µs
Wall time: 13.8 µs
('1', '272', 4.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '9685', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '2108', 4.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '64678', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '84892', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '12444', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '13475', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '141', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '1726', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '9377', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '238', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '240', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '68718', 4.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '155', 4.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '767', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '745', 4.5, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '77', 4.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '58574', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '244786', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '10528', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '10474', 4.5, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '207', 5.0, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))
('1', '8363', 3.5, datetime.datetime(2023, 10, 23, 18, 44, 55, 294000))